.cml-flag-tiny-en:before {
    content: url(../flags/tiny/en_GB.png);
    width: 16px;
    height: 11px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.cml-flag-tiny-ta:before {
    content: url(../flags/tiny/ta_LK.png);
    width: 16px;
    height: 11px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.cml-flag-small-en:before {
    content: url(../flags/small/en_GB.png);
    width: 32px;
    height: 33px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.cml-flag-small-ta:before {
    content: url(../flags/small/ta_LK.png);
    width: 32px;
    height: 33px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}