@media print{

	html,
  body {
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0
  }

  img {
    max-width: 100%;
    display: block
  }

  ul,
  ol,
  li {
    page-break-inside: avoid
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid
  }

  table,
  tr,
  td {
    page-break-before: avoid
  }

	.single-post{
		&.sidebar-right .main-content,
		&.sidebar-left .main-content{
			width: 100%;
		}

		.tie-row{
			border: 0;
		}

		.main-content{
			border: 0;
			max-width: 75% !important;
			margin: 0 auto !important;
			float: none !important;
		}

		#theme-header,
		.sidebar,
		#footer,
		.slider-area,
		#mobile-menu-icon,
		.post-footer,
		#post-newsletter,
		.prev-next-post-nav,
		#related-posts,
		#respond,
		.tie_video .featured-area,
		figure a:after,
		.post-tags,
		#check-also-box,
		#go-to-content,
		#breadcrumb,
		.toggle-post-content,
		#add-comment-block,
		.about-author,
		#go-to-top,
		#reading-position-indicator{
			display: none !important;
		}

		.thumb-overlay{
			padding: 0;
		}

		.tie-parallax [id^="jarallax-container-"] > div{
			position: absolute !important;
			margin-top: 0 !important;
			width: 100%;
			height: 100%;
		}
	}

	.post-has-toggle #the-post .entry{
		max-height: unset !important;

		&:before {
			display: none !important;
		}

		img[class*="wp-image-"] {
			opacity: 1 !important;
		}
	}

	.single-big-img .entry-header{
		background-color: #fff;
		color: #000;
		padding: 20px;
		bottom: 0;

		.entry-sub-title,
		.entry-title,
		.post-meta,
		.post-meta a:not(:hover){
			color: #000;
			text-shadow: unset;
		}
	}
}
