@import "../utils/mixins";
@import "../utils/variables";

/**
* IE 10 only ===================================================================================================
*/
.mag-box-title .tie-alignright{
  width: auto;

 	@include breakpoint_max(480px){
	  .mag-box-filter-links{
	    max-width: 50px;
	  }
	}
}
