/* Breaking News---------------------------------------------------------------*/

.breaking {
	float: left;
	width: 100%;
	height: 35px;
	line-height: 35px;
}

.breaking-title {
	padding: 0 10px;
	display: block;
	float: left;
	color: #ffffff;
	font-size: 12px;
	position: relative;

	span{
		position: relative;
		z-index: 1;
	}

	span.fa {
		display: none;
	}

	@include breakpoint_max(600px){
		span.fa {
			display: inline-block;
		}

		.breaking-title-text {
			display: none;
		}
	}

	&:before{
		content: "";
		background: #f05555;
		width: 100%;
		height: calc(100% + 1px);
		position: absolute;
		left: 0;
		top: -1px;
		z-index: 0;

		.top-nav-above &{
			top: 0;
		}
	}
}

.breaking-news{
	display: none;
}

.ticker-wrapper.has-js {
	margin: 0;
	padding: 0px;
	height: 35px;
	display: block;
	overflow: hidden;
	position: relative;
	padding-right: 20px;

	@include breakpoint(xs){
		.controls-is-active &{
			padding-right: 70px;
		}
	}
}

.ticker {
	width: 100%;
	height: 35px;
	display: block;
	position: relative;
	overflow: hidden;
}

.ticker-content {
	display: none;
	left: 10px;
	line-height: 35px;
	position: absolute;
	background-color: #ffffff;
	overflow: hidden;
	white-space: nowrap;
	word-wrap: normal; // IE fix
	text-overflow: ellipsis;
	max-width: calc(100% - 10px);
	width: auto;

	.top-nav-dark &{
		background-color: $top-nav-dark-bg;
	}

	&:focus {
		outline: none;
	}

	&.is-paused{
		transform: none !important;
	}
}

.ticker-swipe {
	position: absolute;
	top: 0px;
	left: 10px;
	display: block;
	width: calc(100% - 10px);
	height: 35px;

	span {
		margin-left: 1px;
		height: 35px;
		width: 7px;
		display: block;

		&:after{
			content: "_";
		}
	}
}

.ticker-content,
.ticker-swipe{
	background-color: #ffffff;
}

.top-nav-dark,
.box-dark-skin{
	.ticker-content,
	.ticker-swipe{
		background-color: $top-nav-dark-bg;
	}
}

.breaking-news-nav{
	position: absolute;
	right: 0;
	padding-right: 8px;
	float: left;
	list-style-type: none;
	float: left;
	height: 35px;

	@include breakpoint(max_min_xs){
		display: none;
	}

	li {
		padding: 0px;
	  margin: 6px 0 6px 7px;
	  float: left;
	  cursor: pointer;
	  height: 21px;
	  width: 21px;
	  display: block;
	  line-height: 19px;
	  text-align: center;
	  border-radius: $base-border-radius;
	  border: $base-border;
	  transition: 0.3s;

	  .box-dark-skin &,
	  .top-nav-dark &{
	  	border-color: $base-border-color-in-white;
	  }

		&:after{
	  	opacity: 0.8;
	  	display: inline-block;
			content: "\f04c";
			font-family: "Fontawesome";
		}

		&:hover{
			background-color: #f05555;
			border-color: #f05555;
			color: #ffffff;

			&:after{
				opacity: 1;
			}
		}

		&.jnt-prev {
			&:after{
				content: "\f104";
			}
		}

		&.jnt-next {
			&:after{
				content: "\f105";
			}
		}

		.up-down-controls &:after{
			transform: rotate(90deg);
		}
	}
}

.ticker-dir-left .ticker-content,
.ticker-dir-left .ticker {
    float: left;
}

.ticker-dir-right .ticker-content,
.ticker-dir-right .ticker {
    float: right;
}


.top-nav-dark{
	.breaking-title:before{
		height: 100%;
		top: 0;
	}
}

/* New Ticker Magazine box ----------------------------------------------------*/

.mag-box{
	&.breaking-news-outer{
		height: 40px;
    overflow: hidden;
		border-radius: $base-border-radius;
	}

	.breaking-title{
		line-height: 40px;
	}

	.breaking{
		height: 40px;
		background-color: #ffffff;
		border: $base-border;
		border-left-width: 0;
	}

	.controls-is-active .ticker-wrapper.has-js{
		padding-right: 90px;
	}

	.ticker-wrapper.has-js,
	.ticker,
	.ticker-content,
	.ticker-swipe,
	.breaking-news-nav,
	.breaking-news-nav li{
		line-height: 38px;
		height: 38px;
	}

	.breaking-news-nav{
		padding-right: 0;

		li{
			margin: 0;
			width: 38px;
			border-width: 0 0 0 1px;
			border-radius: 0;
			font-size: 16px;

			&:hover{
				border-color: transparent !important;
			}
		}
	}
}

.dark-skin .mag-box, // if the theme or the parent section in dark-skin
.box-dark-skin{	// if the box itself in dark-skin
	.breaking,
	.breaking-news-nav li{
		border-color: $base-border-color-in-white;
	}

	.breaking,
	.ticker-content,
	.ticker-swipe{
		background-color: $dark-bg;
	}
}
