.magazine2{
	// General Elements ---------------------------
	.container-wrapper,
	&.woocommerce div.product .woocommerce-tabs,
	&.woocommerce div.product .related.products{
		border-width: 0;
    padding: 0;
    background: transparent;
    opacity: 0.99;
	}

	@include breakpoint(md){
		&.sidebar-left .sidebar,
		.sidebar-left .sidebar{
		  padding-right: 40px;
		}

		&.sidebar-right .sidebar,
		.sidebar-right .sidebar{
		  padding-left: 40px;
		}
	}

	.tabs-wrapper .tab-content {
	  padding: 30px 0 0;

	  @include breakpoint(max_min_sm){
			padding: 20px 0 0;
		}
	}

	.tie-popup-container .container-wrapper{
		padding: 30px;
	}

	&.page .entry-content,
	&.archive .wide-post-box .container-wrapper{
		padding-top: 0;
	}

	// mag boxes ----------------------------------
	.mag-box,
	.sidebar .container-wrapper,
	.widget-content-only{
		margin-bottom: 50px;

		@include breakpoint(max_min_md){
			margin-bottom: 30px;
		}
	}

	.has-background .slider-area,
	.mag-box.breaking-news-outer{
		margin-bottom: 30px;

		@include breakpoint(max_min_md){
			margin-bottom: 15px;
		}
	}

	html:not(.dark-skin) & .section-item:not(.dark-skin) .box-dark-skin > .container-wrapper{
		padding: 30px;

		@include breakpoint(max_min_sm){
			padding: 15px;
		}
	}

	@include breakpoint(md){
		.mag-box .pages-nav{
			padding-top: 50px;
		}
	}

	.half-box.mag-box .posts-items>li:first-child,
	.big-post-top-box .posts-items > li:first-child{
		border-bottom: 0;
		padding-bottom: 0;
	}

	.dark-skin &{
		.container-wrapper,
		.mag-box.mag-box .container-wrapper{
			background-color: transparent;
		}

		.tabs-box.mag-box{
			background: transparent;
		}

		.mag-box.timeline-box .posts-items:last-of-type:after{
		  background-image: linear-gradient(to bottom, #2e2f33 0%, $dark-bg 80%);
		}

		.mag-box,
		.box-dark-skin{
			@include breakpoint(sm){
				&.mag-box.full-overlay-title .posts-items > li .block-post-overlay .block-title-overlay {
			    background: $dark-bg;
				}
			}
		}
	}

	// Post Layouts -------------------------------
	&.post-layout-1 .entry-header-outer,
	&.post-layout-2 .entry-header-outer,
	&.post-layout-6 .entry-header-outer{
		padding: 0 0 20px;
	}

	&.post-layout-2 .featured-area,
	&.archive:not(.bbpress) .entry-header-outer,
	&.search .entry-header-outer{
		margin-bottom: 30px;

		@include breakpoint(max_min_md){
			margin-bottom: 20px;
		}
	}

	&.post-layout-4,
	&.post-layout-5,
	&.post-layout-7{
		.post-footer-on-top .post-footer-inner{
			padding-top: 0;
		}
	}

	@include breakpoint(md){
		&.post-layout-8.one-column-no-sidebar .main-content {
		  padding: 30px;
		  background: #ffffff;
		}

		.dark-skin & .post-layout-8.one-column-no-sidebar .main-content {
		  background-color: $darker-bg;
		}
	}

	.post-footer-on-top{
		padding: 0;
	}

	.post-footer-on-bottom{
		border-width: 1px;
		background: none;
		padding: 0 15px;

		.post-footer-inner{
			padding: 15px 0;
		}
	}

	.post-components > div,
	.post-components #add-comment-block {
    margin-top: 50px;

    @include breakpoint(max_min_md){
    	margin-top: 30px;
    }
	}

	#post-newsletter{
		padding: 30px;
		border-width: 1px;
    background: $base-light-light-color;

    @include breakpoint_max(670px){
    	padding: 15px;
    }
	}

	.dark-skin & #post-newsletter{
		background-color: darken($darker-bg, 3%);
	}

	.entry-content{
		padding: 0 0 30px;

		@include breakpoint_max(670px){
    	padding: 0 0 15px;
    }
	}

	&:not(.post-layout-8):not(.one-column-no-sidebar) .tie-full-width-img img{
		margin-right: 0;
		margin-left: 0;
		width: 100%;
	}

	// tabs box -----------------------------------
	.tabs-box{
		border: none;

		.tabs-widget{
			.tabs-wrapper{
				.tabs-menu{
					.flexMenu-popup{
						border-right-width: 1px;
						transform: translateY(-1px) translateX(1px);
					}
				}
			}
		}
	}

	.tabs-box .tabs-widget .tab-content,
	&.woocommerce div.product .woocommerce-tabs .panel{
		padding: 30px 0 0;

		@include breakpoint(max_min_sm){
			padding: 20px 0 0;
		}
	}

	html:not(.dark-skin) & .section-item:not(.dark-skin) .box-dark-skin{
		.tabs-widget .tabs-wrapper {
			.tab-content{
				padding: 30px;
			}
		}
	}

	// tabs widget
	.woocommerce-tabs ul.tabs,
	.tabs-wrapper .tabs-menu {
		border: $base-border;
		border-width: 1px 1px 0 1px;
		max-height: 67px;
	}

	&.woocommerce div.product .woocommerce-tabs ul.tabs{
		max-height: 67px;
	}

	.dark-skin &{
		.woocommerce-tabs ul.tabs,
		.mag-box.tabs-box .tabs-widget .tabs-menu,
		.tabs-wrapper .tabs-menu{
			border-color: rgba(255,255,255,0.05);
		}

		// .mag-box .tabs-widget .tabs-wrapper .tabs-menu > li > a{
		// 	border-bottom-width: 0;
		// }

	  .tabs-wrapper.tabs-vertical .tabs-menu li.is-active a{
			background-color: $dark-bg;
		}

		.woocommerce-tabs ul.tabs >li.active > a,
		.tabs-wrapper:not(.tabs-vertical) .tabs-menu >li.is-active > a,
		.mag-box .tabs-widget .tabs-wrapper .tabs-menu li.is-active a{
			background: rgba(0, 0, 0, 0.2);
		}
	}

	.dark-skin & .mag-box .tabs-widget .tabs-wrapper .tabs-menu li .flexMenu-popup,
	.box-dark-skin .tabs-widget .tabs-wrapper .tabs-menu li .flexMenu-popup {
    background-color: #27292d;
  }

	// tabs active border-bottom with the color of the active link
	.woocommerce-tabs ul.tabs >li.active > a,
	.tabs-wrapper:not(.tabs-vertical) .tabs-menu >li.is-active > a{
		border-bottom-color: inherit !important;
	}


	// Masonry Templates ------------------------------------
	.post-element {
		.entry-archives-header{
			padding: 0;
		}

		.entry-content {
			padding: 15px 0 0;
		}
	}

	&.full-width .masonry-with-spaces:not(.media-page-layout){
		@include breakpoint(sm){
			.post-element{
				width: calc(92% / 3);
				margin-bottom: 4%;
			}

			.grid-sizer {
				width: calc(92% / 3);
			}

			.gutter-sizer {
				width: 4%;
			}
		}

		#masonry-grid:not(.masonry-loaded){
			// Fix the pre-js load issue
			.post-element{
				margin-right: 4%;
				margin-left: 0;

				&:nth-child(3n+3){
					margin-right: 0;
					margin-left: 0;
				}
			}
		}
	}

	// Authors Template --------------------------
	.entry .authors-wrap{
		margin-top: 60px;

		> li{
			margin-bottom: 50px;
		}
	}

} // end of .magazine2
