
@import "../utils/variables";
@import "../utils/mixins";

/* bbPress Style
-------------------------------------------------------------- */
#bbpress-forums hr {
	margin: 0 0 24px 0;
}
#bbpress-forums {
	clear: both;
	overflow: hidden;
	font-size: 12px;
}
#bbpress-forums div.even,
#bbpress-forums ul.even {
	background-color: #fbfbfb;
}
body.reply-edit .reply {
	float: none;
}
#bbpress-forums div.reply {
	height: auto;
	width: 100%;
}
#bbpress-forums div.bbp-forum-header,
#bbpress-forums div.bbp-topic-header {
	background-color: #f4f4f4;
}
#bbpress-forums .status-trash.even,
#bbpress-forums .status-spam.even {
	background-color: #fee;
}
#bbpress-forums .status-trash.odd,
#bbpress-forums .status-spam.odd {
	background-color: #fdd;
}
#bbpress-forums .status-closed,
#bbpress-forums .status-closed a {
	opacity: 0.7;
}
#bbpress-forums ul {
	background:  none;
	list-style: none;
	margin: 0;
	padding: 0;
}
#bbpress-forums ul.bbp-threaded-replies {
	margin-left: 50px;
}
#bbpress-forums li {
	background: none;
	margin: 0;
	list-style: none;
}
#bbpress-forums ul.bbp-lead-topic,
#bbpress-forums ul.bbp-topics,
#bbpress-forums ul.bbp-forums,
#bbpress-forums ul.bbp-replies,
#bbpress-forums ul.bbp-search-results {
	overflow: hidden;
	margin-bottom: 20px;
	clear: both;
}
#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-body,
#bbpress-forums li.bbp-footer {
	clear: both;
}
#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-footer {
  text-transform: uppercase;
  margin-top: 10px;
  padding: 10px 0;
  vertical-align: middle;
  font-weight: bold;
  border-bottom: 3px solid rgba(0, 0, 0, .05);
}
#bbpress-forums li.bbp-footer {
	border: 0
}

#bbpress-forums li.bbp-header ul {
	overflow: hidden;
}
#bbpress-forums .bbp-forum-title,
#bbpress-forums .bbp-topic-permalink{
  display: block;
  font-size: 16px;
  font-weight: 600;
}
#bbpress-forums .bbp-forum-link {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
}
#bbpress-forums .bbp-forums-list {
	margin: 0 0 0 5px;
	padding-left: 15px;
	border-left: 1px solid #ddd;
}
#bbpress-forums .bbp-forums-list li {
	display: inline;
	font-size: 11px;
}
#bbpress-forums li.bbp-footer p {
	margin: 0;
	line-height: 1em;
}
li.bbp-forum-info,
li.bbp-topic-title {
	float: left;
	text-align: left;
	width: 55%;
}
li.bbp-forum-topic-count,
li.bbp-topic-voice-count,
li.bbp-forum-reply-count,
li.bbp-topic-reply-count {
	float: left;
	text-align: center;
	width: 10%;
}
li.bbp-forum-freshness,
li.bbp-topic-freshness {
	text-align: right;
	float: left;
	width: 22%;
}
#bbpress-forums li.bbp-body ul.forum,
#bbpress-forums li.bbp-body ul.topic {
	border-bottom: 1px solid #eee;
	overflow: hidden;
	padding: 10px;
}

// span#subscription-toggle,
// span#favorite-toggle,
// span#favorite-toggle {
// 	float: right;
// }

#bbpress-forums div.bbp-forum-title h3,
#bbpress-forums div.bbp-topic-title h3,
#bbpress-forums div.bbp-reply-title h3 {
	background: none;
	border: none;
	font-size: 16px;
 	line-height: 1em;
 	margin: 8px 0;
	padding: 0;
	text-transform: none;
}
#bbpress-forums div.bbp-forum-author,
#bbpress-forums div.bbp-topic-author,
#bbpress-forums div.bbp-reply-author {
	float: left;
	text-align: center;
	width: 115px;
}
#bbpress-forums div.bbp-forum-author img.avatar,
#bbpress-forums div.bbp-topic-author img.avatar,
#bbpress-forums div.bbp-reply-author img.avatar {
	border: none;
	max-width: 80px;
	padding: 0;
	margin: 12px auto 0 auto;
	float: none;
}
#bbpress-forums div.bbp-forum-author a.bbp-author-name,
#bbpress-forums div.bbp-topic-author a.bbp-author-name,
#bbpress-forums div.bbp-reply-author a.bbp-author-name {
	margin: 0 12px;
	word-break: break-word;
	display: inline-block;
}
#bbpress-forums div.bbp-topic-author a.bbp-author-name,
#bbpress-forums div.bbp-reply-author a.bbp-author-name {
	clear: left;
	display: block;
}
#bbpress-forums div.bbp-forum-author .bbp-author-role,
#bbpress-forums div.bbp-topic-author .bbp-author-role,
#bbpress-forums div.bbp-reply-author .bbp-author-role {
	font-size: 11px;
	font-style: italic;
}
#bbpress-forums li.bbp-header .bbp-search-author,
#bbpress-forums li.bbp-footer .bbp-search-author,
#bbpress-forums li.bbp-header .bbp-forum-author,
#bbpress-forums li.bbp-footer .bbp-forum-author,
#bbpress-forums li.bbp-header .bbp-topic-author,
#bbpress-forums li.bbp-footer .bbp-topic-author,
#bbpress-forums li.bbp-header .bbp-reply-author,
#bbpress-forums li.bbp-footer .bbp-reply-author {
	float: left;
	margin: 0;
	padding: 0;
	width: 120px;
}
#bbpress-forums li.bbp-header .bbp-search-content,
#bbpress-forums li.bbp-footer .bbp-search-content,
#bbpress-forums li.bbp-header .bbp-forum-content,
#bbpress-forums li.bbp-footer .bbp-forum-content,
#bbpress-forums li.bbp-header .bbp-topic-content,
#bbpress-forums li.bbp-footer .bbp-topic-content,
#bbpress-forums li.bbp-header .bbp-reply-content,
#bbpress-forums li.bbp-footer .bbp-reply-content {
	margin-left: 140px;
	padding: 0;
	text-align: left;
}
div.bbp-forum-header,
div.bbp-topic-header,
div.bbp-reply-header,
li.bbp-body div.hentry {
	margin-bottom: 0;
	overflow: hidden;
	padding: 10px;
}
li.bbp-body div.hentry {
	border-bottom: 1px solid rgba(0, 0, 0, .05);
}
div.bbp-forum-header,
div.bbp-topic-header {
	border-top: 1px solid #ddd;
	clear: both;
}
span.bbp-author-ip {
	font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #aaa;
}


/* bbPress Widgets
-------------------------------------------------------------- */
.widget_display_stats dl {
  overflow: hidden;
}
.widget_display_stats dt {
  clear: left;
  display: block;
  float: left;
  // padding: 8px 0;
}
.widget_display_stats dd {
  display: block;
  float: right;
  padding: 5px;
  min-width: 25px;
  text-align: center;
  clear: right;
}
.widget_display_replies .widget-container li .bbp-forum-title,
.widget_display_topics  .widget-container li .bbp-forum-title {
  display: block;
  margin-bottom: 5px;
}
.widget_display_topics  .widget-container li img {
  display: none;
}
.widget_display_replies .widget-container li div,
.widget_display_topics  .widget-container li div {
  display: inline-block;
  font-size: 8pt;
  float: right;
}
.widget_display_search form {
  font-size: 0;
}
.widget_display_search #bbp_search{
  width: 75%;
  margin-right: 2%;
  margin-bottom: 0;
}
.widget_display_search input#bbp_search_submit {
  width: 23%;
  float: right;
}


/* Topic and reply content
-------------------------------------------------------------- */
#bbpress-forums div.bbp-forum-content,
#bbpress-forums div.bbp-topic-content,
#bbpress-forums div.bbp-reply-content {
	margin-left: 130px;
	padding: 12px 12px 12px 0;
	text-align: left;
}
#bbpress-forums div.bbp-forum-content:after,
#bbpress-forums div.bbp-topic-content:after,
#bbpress-forums div.bbp-reply-content:after {
	clear: both;
	content: ".";
	display: block;
	float: none;
	height: 0;
	font-size: 0;
	visibility: hidden;
}
#bbpress-forums div.bbp-topic-content a,
#bbpress-forums div.bbp-reply-content a {
	background: none;
	border: none;
	display: inline;
	font-weight: normal;
	margin: 0;
	padding: 0;
}
#bbpress-forums div.bbp-topic-content h1,
#bbpress-forums div.bbp-reply-content h1,
#bbpress-forums div.bbp-topic-content h2,
#bbpress-forums div.bbp-reply-content h2,
#bbpress-forums div.bbp-topic-content h3,
#bbpress-forums div.bbp-reply-content h3,
#bbpress-forums div.bbp-topic-content h4,
#bbpress-forums div.bbp-reply-content h4,
#bbpress-forums div.bbp-topic-content h5,
#bbpress-forums div.bbp-reply-content h5,
#bbpress-forums div.bbp-topic-content h6,
#bbpress-forums div.bbp-reply-content h6 {
	clear: none;
	line-height: 1em;
	margin: 24px 0;
	padding: 0;
}
#bbpress-forums div.bbp-topic-content img,
#bbpress-forums div.bbp-reply-content img {
	max-width: 100%;
}
#bbpress-forums div.bbp-topic-content ul,
#bbpress-forums div.bbp-reply-content ul,
#bbpress-forums div.bbp-topic-content ol,
#bbpress-forums div.bbp-reply-content ol {
	margin: 0 15px 15px;
	padding: 0;
}
#bbpress-forums div.bbp-topic-content ul li,
#bbpress-forums div.bbp-reply-content ul li {
	list-style-type: disc;
}
#bbpress-forums div.bbp-topic-content ol li,
#bbpress-forums div.bbp-reply-content ol li {
	list-style-type: decimal;
}
#bbpress-forums div.bbp-topic-content ol li li,
#bbpress-forums div.bbp-reply-content ol li li {
	list-style-type: lower-alpha;
}
#bbpress-forums div.bbp-topic-content ol li li li,
#bbpress-forums div.bbp-reply-content ol li li li {
	list-style-type: upper-roman;
}
#bbpress-forums div.bbp-topic-content code,
#bbpress-forums div.bbp-reply-content code,
#bbpress-forums div.bbp-topic-content pre,
#bbpress-forums div.bbp-reply-content pre {
	font-family: Inconsolata, Consolas, Monaco, Lucida Console, monospace;
	display: inline-block;
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	padding: 0 5px;
	max-width: 95%;
	vertical-align: middle;
	margin-top: -3px;
}
#bbpress-forums div.bbp-topic-content pre,
#bbpress-forums div.bbp-reply-content pre {
	display: block;
	line-height: 18px;
	margin: 0 0 24px;
	padding: 5px 10px;
	white-space: pre;
	overflow: auto;
}
#bbpress-forums div.bbp-topic-content pre code,
#bbpress-forums div.bbp-reply-content pre code {
	display: block;
	border: none;
	padding: 0;
	margin: 0;
	background-color: transparent;
	overflow-wrap: normal;
	overflow: auto;
	max-width: 100%;
}


/* Reply to
-------------------------------------------------------------- */
#bbpress-forums div.bbp-reply-to {
	margin-left: 130px;
	padding: 12px 12px 12px 0;
	text-align: right;
}
#bbpress-forums div#bbp-cancel-reply-to {
	text-align: right;
}


/* Breadcrumb and Tags
-------------------------------------------------------------- */
div.bbp-breadcrumb {
	float: left;
}

div.bbp-topic-tags {
	font-size: 12px;
}
#bbpress-forums div.bbp-topic-tags p {
	margin-bottom: 10px
}
#bbpress-forums div.bbp-topic-tags {
	float: right;
}
#bbp-topic-hot-tags {
	clear: both;
}


/* Search
-------------------------------------------------------------- */
#bbpress-forums div.bbp-search-form {
	float: none;
	overflow: hidden;
	margin: 0 auto 30px;
	width: 100%;

	#bbp_search{
		width: calc(100% - 100px);
	}

	input{
		&[type="submit"]{
			float: right;
			width: 90px;
		}

		&[type="text"]{
			margin-right: 5px;
		}
	}
}


/* Admin Links
-------------------------------------------------------------- */
span.bbp-admin-links {
	float: right;
	color: #ddd;
}
span.bbp-admin-links a {
	color: #bbb;
	font-weight: normal;
	font-size: 10px;
	text-transform: uppercase;
	text-decoration: none;
}
fieldset span.bbp-admin-links {
	float: left;
}
tr td span.bbp-admin-links a:hover {
	color: #ff4b33;
}
td.bbp-topic-admin-links,
td.bbp-topic-counts {
	width: 50%;
}
.bbp-forum-header a.bbp-forum-permalink,
.bbp-topic-header a.bbp-topic-permalink,
.bbp-reply-header a.bbp-reply-permalink {
	float: right;
	margin-left: 10px;
	color: #ccc;
}


/* Toggles
-------------------------------------------------------------- */
.bbp-row-actions #favorite-toggle a {
	text-decoration: none;
	padding: 0 3px 1px;
	color: #7c7;
	border: 1px solid #aca;
	background-color: #dfd;
	font-weight: bold;
	font-size: 13px;
}
.bbp-row-actions #favorite-toggle a:hover {
	color: #5a5;
	border-color: #7c7;
	background-color: #beb;
}
.bbp-row-actions #favorite-toggle span.is-favorite a {
	color: #faa;
	border: 1px solid #faa;
	background-color: #fee;
}
.bbp-row-actions #favorite-toggle span.is-favorite a:hover {
	color: #c88;
	border-color: #c88;
	background-color: #fdd;
}
.bbp-row-actions #subscription-toggle a {
  text-decoration: none;
	padding: 0 3px 1px;
	color: #7c7;
	border: 1px solid #aca;
	background-color: #dfd;
	font-weight: bold;
	font-size: 13px;
}
.bbp-row-actions #subscription-toggle a:hover {
	color: #5a5;
	border-color: #7c7;
	background-color: #beb;
}
.bbp-row-actions #subscription-toggle span.is-subscribed a {
	color: #faa;
	border: 1px solid #faa;
	background-color: #fee;
}
.bbp-row-actions #subscription-toggle span.is-subscribed a:hover {
	color: #c88;
	border-color: #c88;
	background-color: #fdd;
}
#bbpress-forums .bbp-forum-info .bbp-forum-content,
#bbpress-forums p.bbp-topic-meta {
	font-size: 11px;
	margin: 5px 0 5px;
	padding: 0;
	word-wrap: break-word;
}
#bbpress-forums p.bbp-topic-meta span {
	// white-space: nowrap;
}


/* Pagination
-------------------------------------------------------------- */
.bbp-pagination-count {
	float: left;
	border: 1px solid transparent;
}
.bbp-pagination-links {
	float: right;
	list-style: none;
	display: inline;
}
.bbp-pagination-links a,
.bbp-pagination-links span.current {
	display: block;
	float: left;
	padding: 0 5px;
	margin-left: 5px;
	border: 1px solid #efefef;
	text-decoration: none;
}
.bbp-pagination-links a:hover,
.bbp-pagination-links span.current {
	background: #eee;
	opacity: 0.8;
	border: 1px solid #ddd;
}
.bbp-pagination-links span.dots {
	display: block;
	float: left;
	padding: 1px 4px;
	margin-left: 5px;
}
.bbp-pagination {
	float: left;
	width: 100%;
	margin-bottom: 15px;
}
.bbp-topic-pagination {
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 2px;
}
.bbp-topic-pagination a {
	font-size: 10px;
	line-height: 10px;
	padding: 1px 3px;
	border: 1px solid #ddd;
	text-decoration: none;
}



/* Forms
-------------------------------------------------------------- */
#bbpress-forums fieldset.bbp-form {
	clear: left;
	padding: 0;
	border: 0;
	margin:20px 0 10px;

	legend {
		padding: 5px 0;
		width: 100%;
		margin-bottom: 20px;
	}

	label {
		line-height: 1;
		margin: 0;
		display: inline-block;
	}

	input[type="checkbox"] {
		vertical-align: inherit;
		top: 0;
	}

	#bbp_topic_title{
		width: 100%;
	}
}

#bbp-edit-topic-tag.bbp-form fieldset.bbp-form label,
#bbp-login fieldset label,
#bbp-register fieldset label,
#bbp-lost-pass fieldset label {
	width: 100px;
}

textarea#bbp_reply_content,
textarea#bbp_topic_content,
textarea#bbp_forum_content {
	width: 97%;
	box-sizing: border-box;
}
textarea#bbp_forum_content {
	height: 210px;
}
#bbpress-forums fieldset.bbp-forum-form-attributes {
	width: 200px;
	float: right;
	clear: none;
	margin-left: 25px;
}
#bbpress-forums fieldset select#bbp_forum_id {
	max-width: 200px;
}
.bbp-topic-form,
.bbp-reply-form,
.bbp-topic-tag-form {
	clear: left;
}
body.topic-edit .bbp-topic-form div.avatar img,
body.reply-edit .bbp-reply-form div.avatar img,
body.single-forum .bbp-topic-form div.avatar img,
body.single-reply .bbp-reply-form div.avatar img {
	margin-right: 0;
	padding: 10px;
	border: 1px solid #ddd;
	line-height: 0;
	background-color: #efefef;
}
body.page .bbp-reply-form code,
body.page .bbp-topic-form code,
body.single-topic .bbp-reply-form code,
body.single-forum .bbp-topic-form code,
body.topic-edit .bbp-topic-form code,
body.reply-edit .bbp-reply-form code {
	font-size: 10px;
	background-color: #f0fff8;
	border: 1px solid #CEEFE1;
	display: block;
	padding: 8px;
	margin-top: 5px;
	width: 369px;
}
#merge_tag,
#delete_tag {
	display: inline;
}
div.bbp-submit-wrapper {
	margin-top: 30px;
	clear: both;
}
p.form-allowed-tags {
	max-width: 100%;
}


/* TinyMCE in themes
-------------------------------------------------------------- */
#bbpress-forums div.bbp-the-content-wrapper {
	margin-bottom: 10px;
}
#bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content {
	width: 100%;
	margin: 0;
	font-size: 12px;
}
#bbpress-forums div.bbp-the-content-wrapper table,
#bbpress-forums div.bbp-the-content-wrapper tbody,
#bbpress-forums div.bbp-the-content-wrapper tr,
#bbpress-forums div.bbp-the-content-wrapper td {
	border: none;
	padding: 0;
	margin: 0;
	width: auto;
	line-height: 1em;
}
#bbpress-forums div.bbp-the-content-wrapper input {
	font-size: 12px;
	padding: 5px;
	margin: 0 2px 0 0;
	line-height: 1em;
}
#bbpress-forums div.bbp-the-content-wrapper div.quicktags-toolbar {
    background: #EDEDED;
	padding: 5px;
	min-height: 26px;
}
#bbpress-forums div.bbp-the-content-wrapper td.mceToolbar {
	padding: 4px 4px 8px;
}

#bbpress-forums div.wp-editor-container {
	margin: 0;
	padding: 0;
	line-height: 0;
    border: 1px solid #E0E0E0;
}
#bbpress-forums div.bbp-the-content-wrapper td.mceStatusbar {
	line-height: 16px;
}

#bbpress-forums div.bbp-the-content-wrapper input[type=button]{
	color: #777!important;
	background: #ffffff;

	&:hover{
		background: #ffffff !important;
	}
}


/* Edit User
-------------------------------------------------------------- */

#bbpress-forums #bbp-your-profile fieldset {
	padding: 20px 20px 0 20px;
}
#bbpress-forums #bbp-your-profile fieldset div {
	margin-bottom: 20px;
	float: left;
	width: 100%;
	clear: left;
}
#bbpress-forums #bbp-your-profile fieldset select {
	margin-bottom: 0;
}
#bbpress-forums #bbp-your-profile fieldset input,
#bbpress-forums #bbp-your-profile fieldset textarea {
	margin-bottom: 0;
	width: 60%;
	background: #f9f9f9;
	border: 1px solid #ddd;
	box-shadow: none;
	padding: 5px 8px;
	border-radius: 0;
}
#bbpress-forums #bbp-your-profile fieldset input:focus,
#bbpress-forums #bbp-your-profile fieldset textarea:focus {
	border: 1px solid #ccc;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	outline-color: rgba(240,255,240,0.1);
}
#bbpress-forums #bbp-your-profile fieldset.bbp-form input.checkbox {
	width: auto;
}
#bbpress-forums #bbp-your-profile fieldset legend {
	display: none;
}
#bbpress-forums #bbp-your-profile fieldset label[for] {
	float: left;
	width: 20%;
	padding: 5px 20px 5px 0;
	text-align: right;
	cursor: pointer;
}
#bbpress-forums #bbp-your-profile fieldset dl label[for] {
	text-align: left;
	width: 60%;
}
#bbpress-forums #bbp-your-profile fieldset span.description {
	margin: 5px 0 0 20%;
	font-size: 12px;
	font-style: italic;
	float: left;
	clear: left;
	width: 60%;
	padding: 5px 8px;
	border: #cee1ef 1px solid;
	background-color: #f0f8ff;
}
#bbpress-forums #bbp-your-profile fieldset fieldset {
	margin: 0;
	border: none;
	padding: 0;
	clear: none;
	float: none;
}
#bbpress-forums #bbp-your-profile fieldset fieldset.password {
	width: 60%;
	display: inline;
}
#bbpress-forums #bbp-your-profile fieldset fieldset.password input,
#bbpress-forums #bbp-your-profile fieldset fieldset.password span {
	width: 100%;
}
#bbpress-forums #bbp-your-profile fieldset fieldset.capabilities dl {
	margin: 0;
}
#bbpress-forums #bbp-your-profile fieldset fieldset.password span.description {
	margin-left: 0;
	margin-bottom: 20px;
}
#bbpress-forums #bbp-your-profile fieldset.submit button {
	float: right;
}


/* Notices
-------------------------------------------------------------- */
#bbpress-forums{
	div.bbp-template-notice{
		float: left;

		a{
			float: none;
			padding: 5px;
		}
	}

	.bbp-form > legend + div.bbp-template-notice{
		margin-top: 0 !important;
	}
}


/* Stickies
------------------------------------------------------------- */
.bbp-topics-front ul.super-sticky,
bbp-topics ul.super-sticky,
.bbp-topics ul.sticky,
.bbp-forum-content ul.sticky {
	background-color: #ffffe0 !important;
	font-size: 1.1em;
}


/* =Revisions
-------------------------------------------------------------- */

#bbpress-forums .bbp-topic-content ul.bbp-topic-revision-log,
#bbpress-forums .bbp-reply-content ul.bbp-topic-revision-log,
#bbpress-forums .bbp-reply-content ul.bbp-reply-revision-log {
	border-top: 1px dotted #ddd;
	width: 100%;
	margin: 0;
	padding: 8px 0 0 0;
	font-size: 11px;
	color: #aaa;
}

#bbpress-forums .bbp-topic-content ul.bbp-topic-revision-log li,
#bbpress-forums .bbp-reply-content ul.bbp-topic-revision-log li,
#bbpress-forums .bbp-reply-content ul.bbp-reply-revision-log li {
	list-style-type: none;
}


/* =Widgets
-------------------------------------------------------------- */
.bbp-login-form fieldset{
	padding: 0;
	border: 0;

	legend{
		display: none;
	}
}

.bbp-login-form .bbp-username{
	overflow: hidden;
}

.bbp-login-form label {
	width: 140px;
	display: inline-block;
}

.sidebar{
	.bbp-login-form label {
  	width: 100%;
  	line-height: 30px;
  	float: left;
	}

	.bbp-login-form #user_login,
	.bbp-login-form #user_pass {
  	width: 100%;
  	float: right;
  	margin-bottom: 10px;
	}

	.bbp-login-form .bbp-remember-me {
	  float: left;
	  margin-top: 10px;

	  input{
	  	float: left;
	  	margin-right: 3px;
	  }

	  label{
	    width: auto;
	    line-height: 10px;
	  }
	}
	.bbp-login-form .bbp-submit-wrapper {
	  clear: none;
	  margin-top: 15px;
	  float: left;
	  width: 100%;

	  button{
	  	width: 100%;
	  }
	}
}

.bbp-login-form .bbp-login-links{
	float: left;
	width: 100%;
	margin-top: 10px;
	text-align: center;

	a {
		float: left;
		display: inline-block;
		margin-right: 10px;
	}
}

.bbp-logged-in img.avatar {
	float: left;
	margin: 0 15px 0 0;
	border-radius: 50%;
}
.bbp-logged-in h4 {
	font-weight: bold;
	font-size: 1.1em;
	clear: none;
	margin-bottom: 10px;
}


/* Avatars
-------------------------------------------------------------- */
#bbpress-forums p.bbp-topic-meta img.avatar,
#bbpress-forums ul.bbp-reply-revision-log img.avatar,
#bbpress-forums ul.bbp-topic-revision-log img.avatar,
#bbpress-forums div.bbp-template-notice img.avatar,
#bbpress-forums .widget_display_topics img.avatar,
#bbpress-forums .widget_display_replies img.avatar {
	float: none;
}
fieldset div.avatar {
	float: right;
}


/* BuddyPress Activity Streams
-------------------------------------------------------------- */
.activity-list li.bbp_topic_create .activity-content .activity-inner,
.activity-list li.bbp_reply_create .activity-content .activity-inner {
	border-left: 2px solid #eaeaea;
	margin-left: 5px;
	padding-left: 10px;
}


/* User Pages
-------------------------------------------------------------- */
#bbpress-forums h1 {
	clear: none;
	font-size: 1.8em;
	line-height: 1em;
	padding-bottom: 10px;
}
#bbpress-forums #bbp-user-wrapper {
	float: left;
	width: 100%;
}
#bbpress-forums .bbp-user-section {
	overflow: auto;
}
#bbpress-forums #bbp-user-wrapper h2.entry-title {
	font-size: 1.4em;
	margin: 0;
	padding-bottom: 10px;
	padding-top: 0;
	clear: none;
}
#bbpress-forums #bbp-user-wrapper ul.bbp-lead-topic,
#bbpress-forums #bbp-user-wrapper ul.bbp-topics,
#bbpress-forums #bbp-user-wrapper ul.bbp-forums,
#bbpress-forums #bbp-user-wrapper ul.bbp-replies,
#bbpress-forums #bbp-user-wrapper fieldset.bbp-form {
	clear: none;
}
#bbpress-forums #bbp-single-user-details {
	margin: 0;
	width: 150px;
	float: left;
	overflow: hidden;
}
#bbpress-forums #bbp-single-user-details #bbp-user-avatar {
	margin: 0;
	width: 150px;
}
#bbpress-forums #bbp-single-user-details #bbp-user-avatar img.avatar {
	border: none;
	height: 150px;
	padding: 0;
	margin: 0 0 20px 0;
	width: 150px;
}
#bbpress-forums #bbp-single-user-details #bbp-user-description {
	float: none;
	margin-left: 180px;
}
#bbpress-forums #bbp-single-user-details #bbp-user-navigation {
	float: none;
	margin: 0;
}
#bbpress-forums #bbp-single-user-details #bbp-user-navigation li {
	margin: 0;
}
#bbpress-forums #bbp-single-user-details #bbp-user-navigation a {
	padding: 5px 8px;
	display: block;
	border: 1px solid transparent;
	text-decoration: none;
}
#bbpress-forums #bbp-single-user-details #bbp-user-navigation li.current a {
	background: #eee;
	opacity: 0.8;
}
#bbpress-forums #bbp-user-body {
	margin-left: 180px;
}
body.my-account #bbpress-forums {
	border-top: none;
	padding-top: 0;
	margin-bottom: 0;
}

.bbpress .has-text-field #wp-link .query-results{
	top: 230px;
}


/* User Capabilities
-------------------------------------------------------------- */
#bbpress-forums dl.bbp-user-capabilities {
	display: inline-block;
	vertical-align: top;
}
#bbpress-forums dl.bbp-user-capabilities dt {
	margin: 0 0 10px;
	text-transform: capitalize;
}
#bbpress-forums dl.bbp-user-capabilities dd {
	margin: 0;
	padding: 0;
}


/* BuddyPress Group Forums
-------------------------------------------------------------- */
#bbpress-forums div.row-actions {
	font-size: 11px;
	visibility: hidden;
}
#bbpress-forums li:hover > div.row-actions {
	visibility: visible;
}


/*--------------------------------------------------------------
 Media Queries
--------------------------------------------------------------*/

/* Standard Mobile Landscape
-------------------------------------------------------------- */
@media screen and (max-device-width: 480px), screen and (-webkit-min-device-pixel-ratio: 2){
	-webkit-text-size-adjust: none;
}
@media only screen and (max-width: 480px){
	#bbpress-forums div.bbp-topic-tags {
		clear: left;
		float: left;
	}
	li.bbp-forum-info,
	li.bbp-topic-title {
		width: 45%;
	}
	li.bbp-forum-topic-count,
	li.bbp-forum-reply-count,
	li.bbp-topic-voice-count,
	li.bbp-topic-reply-count {
		width: 15%;
	}
	span.bbp-reply-post-date {
		float: left;
	}
	span.bbp-admin-links {
		clear: left;
		float: left;
	}
	#bbpress-forums .bbp-forums-list li {
		display: block;
		font-size: 11px;
	}
	#bbpress-forums .bbp-body div.bbp-reply-author {
		margin: -15px 10px 10px;
		min-height: 100px;
		padding-left: 80px;
		position: relative;
		text-align: left;
		width: 100%;
	}
	#bbpress-forums div.bbp-reply-author a.bbp-author-name {
		clear: none;
		display: inline-block;
		margin-left: 0;
		word-wrap: break-word;
	}
	#bbpress-forums div.bbp-reply-author img.avatar {
		position: absolute;
		top: 15px;
		left: 0;
		width: 60px;
		height: auto;
	}
	#bbpress-forums div.bbp-reply-author .bbp-author-role {
		font-size: 12px;
		font-style: normal;
	}
	#bbpress-forums .bbp-body div.bbp-reply-content {
		clear: both;
		margin: 10px;
		padding: 0;
	}
	#bbpress-forums div.bbp-reply-content p {
		margin-bottom: 1em;
	}
	div.bbp-submit-wrapper {
		float: left;
	}
	#bbpress-forums fieldset.bbp-form {
		padding: 0 10px 10px;
	}
	#bbpress-forums #bbp-user-body {
		clear: both;
		margin-left: 0;
		word-wrap: break-word;
	}
}

/* =Standard Mobile Portrait
-------------------------------------------------------------- */
@media only screen and (max-width: 320px){
	#bbpress-forums div.bbp-search-form {
		margin-bottom: 10px;
	}
	#bbpress-forums li.bbp-header li.bbp-forum-info,
	#bbpress-forums li.bbp-body li.bbp-forum-info,
	#bbpress-forums li.bbp-header li.bbp-topic-title,
	#bbpress-forums li.bbp-body li.bbp-topic-title {
		width: 100%;
	}
	#bbpress-forums li.bbp-header li.bbp-forum-info,
	#bbpress-forums li.bbp-header li.bbp-topic-title {
		text-align: center;
		text-transform: uppercase;
	}
	#bbpress-forums li.bbp-header li.bbp-forum-topic-count,
	#bbpress-forums li.bbp-header li.bbp-forum-reply-count,
	#bbpress-forums li.bbp-body li.bbp-forum-topic-count,
	#bbpress-forums li.bbp-body li.bbp-forum-reply-count,
	#bbpress-forums li.bbp-header li.bbp-topic-voice-count,
	#bbpress-forums li.bbp-header li.bbp-topic-reply-count,
	#bbpress-forums li.bbp-body li.bbp-topic-voice-count,
	#bbpress-forums li.bbp-body li.bbp-topic-reply-count {
		width: 20%;
	}
	#bbpress-forums li.bbp-header li.bbp-forum-freshness,
	#bbpress-forums li.bbp-body li.bbp-forum-freshness,
	#bbpress-forums li.bbp-header li.bbp-topic-freshness,
	#bbpress-forums li.bbp-body li.bbp-topic-freshness {
		width: 58%;
	}
	#bbpress-forums li.bbp-body li.bbp-forum-topic-count,
	#bbpress-forums li.bbp-body li.bbp-forum-reply-count,
	#bbpress-forums li.bbp-body li.bbp-forum-freshness,
	#bbpress-forums li.bbp-body li.bbp-topic-voice-count,
	#bbpress-forums li.bbp-body li.bbp-topic-reply-count,
	#bbpress-forums li.bbp-body li.bbp-topic-freshness {
		margin-top: 7px;
	}
	#bbpress-forums li.bbp-header,
	#bbpress-forums li.bbp-footer {
		font-size: 10px;
	}
	#bbpress-forums li.bbp-header div.bbp-reply-author {
		text-align: left;
		width: 25%;
	}
	#bbpress-forums li.bbp-header div.bbp-reply-content {
		margin-left: 25%;
	}
	#bbpress-forums div.bbp-template-notice img.avatar,
	#bbpress-forums p.bbp-topic-meta img.avatar {
		width: 14px;
		height: auto;
	}
	#bbpress-forums div.bbp-the-content-wrapper td.mceToolbar {
		padding: 1px;
	}
	#bbpress-forums div.bbp-the-content-wrapper td.mceToolbar td {
		width: 20px;
		height: 20px;
	}
	#bbpress-forums div.wp-editor-container {
		width: 100%;
		overflow: auto;
	}
	#bbpress-forums input#bbp_topic_title,
	#bbpress-forums input#bbp_topic_tags {
		width: 95%;
	}
}

/* =Extra Small Mobile
-------------------------------------------------------------- */
@media only screen and (max-width: 240px){
	#bbpress-forums li.bbp-header li.bbp-forum-topic-count,
	#bbpress-forums li.bbp-header li.bbp-forum-reply-count,
	#bbpress-forums li.bbp-body li.bbp-forum-topic-count,
	#bbpress-forums li.bbp-body li.bbp-forum-reply-count,
	#bbpress-forums li.bbp-header li.bbp-topic-voice-count,
	#bbpress-forums li.bbp-header li.bbp-topic-reply-count,
	#bbpress-forums li.bbp-body li.bbp-topic-voice-count,
	#bbpress-forums li.bbp-body li.bbp-topic-reply-count,
	#bbpress-forums li.bbp-footer div.bbp-reply-author,
	#bbpress-forums li.bbp-footer div.bbp-reply-content {
		width: 45%;
	}
	#bbpress-forums li.bbp-header li.bbp-forum-freshness,
	#bbpress-forums li.bbp-body li.bbp-forum-freshness,
	#bbpress-forums li.bbp-header li.bbp-topic-freshness,
	#bbpress-forums li.bbp-body li.bbp-topic-freshness,
	#bbpress-forums li.bbp-header div.bbp-reply-author,
	#bbpress-forums li.bbp-header div.bbp-reply-content {
		clear: both;
		width: 100%;
	}
	#bbpress-forums li.bbp-header li.bbp-forum-freshness,
	#bbpress-forums li.bbp-header li.bbp-topic-freshness {
		text-align: center;
	}
	#bbpress-forums li.bbp-body li.bbp-topic-freshness,
	#bbpress-forums li.bbp-header div.bbp-reply-content {
		margin-left: 0;
		text-align: left;
	}
	#bbpress-forums li.bbp-body li.bbp-topic-freshness p.bbp-topic-meta {
		display: inline-block;
	}
	#bbpress-forums li.bbp-header {
		overflow: hidden;
	}
	#bbpress-forums li.bbp-footer div.bbp-reply-content {
		display: inline-block;
		margin-left: 0;
	}
	#bbpress-forums li.bbp-body div.bbp-reply-author {
		min-height: 60px;
		padding-left: 60px;
	}
	#bbpress-forums div.bbp-reply-author img.avatar {
		width: 40px;
		height: auto;
	}
}


/* RTL
-------------------------------------------------------------- */
body.rtl #bbpress-forums .bbp-forums-list {
  border-right: 1px solid #ddd;
  padding-right: 15px;
  margin: 0 5px 0 0;
  padding-left: 0;
  border-left: 0;
}
body.rtl #bbpress-forums ul.bbp-threaded-replies {
  margin-right: 50px;
  margin-left: 0;
}
body.rtl li.bbp-forum-info,
body.rtl li.bbp-topic-title {
  float: right;
  text-align: right;
}
body.rtl li.bbp-forum-topic-count,
body.rtl li.bbp-topic-voice-count,
body.rtl li.bbp-forum-reply-count,
body.rtl li.bbp-topic-reply-count,
body.rtl li.bbp-forum-freshness,
body.rtl li.bbp-topic-freshness{
  float: right;
}
body.rtl #bbpress-forums div.bbp-topic-author a.bbp-author-name,
body.rtl #bbpress-forums div.bbp-reply-author a.bbp-author-name {
  clear: right;
}
body.rtl li.bbp-header div.bbp-topic-content span#subscription-toggle,
body.rtl li.bbp-header div.bbp-topic-content span#favorite-toggle,
body.rtl li.bbp-header div.bbp-reply-content span#subscription-toggle,
body.rtl li.bbp-header div.bbp-reply-content span#favorite-toggle,
body.rtl .widget_display_stats dd  {
  float: left;
  clear: left;
}
body.rtl #bbpress-forums div.bbp-forum-author,
body.rtl #bbpress-forums div.bbp-topic-author,
body.rtl #bbpress-forums div.bbp-reply-author {
  float: right;
}
body.rtl #bbpress-forums li.bbp-header .bbp-search-author,
body.rtl #bbpress-forums li.bbp-footer .bbp-search-author,
body.rtl #bbpress-forums li.bbp-header .bbp-forum-author,
body.rtl #bbpress-forums li.bbp-footer .bbp-forum-author,
body.rtl #bbpress-forums li.bbp-header .bbp-topic-author,
body.rtl #bbpress-forums li.bbp-footer .bbp-topic-author,
body.rtl #bbpress-forums li.bbp-header .bbp-reply-author,
body.rtl #bbpress-forums li.bbp-footer .bbp-reply-author {
  float: right;
}
body.rtl #bbpress-forums li.bbp-header .bbp-search-content,
body.rtl #bbpress-forums li.bbp-footer .bbp-search-content,
body.rtl #bbpress-forums li.bbp-header .bbp-forum-content,
body.rtl #bbpress-forums li.bbp-footer .bbp-forum-content,
body.rtl #bbpress-forums li.bbp-header .bbp-topic-content,
body.rtl #bbpress-forums li.bbp-footer .bbp-topic-content,
body.rtl #bbpress-forums li.bbp-header .bbp-reply-content,
body.rtl #bbpress-forums li.bbp-footer .bbp-reply-content {
  margin-right: 140px;
  text-align: right;
  margin-left: 0;
  padding: 0;
}


/* Topic and reply content
-------------------------------------------------------------- */
body.rtl #bbpress-forums div.bbp-forum-content,
body.rtl #bbpress-forums div.bbp-topic-content,
body.rtl #bbpress-forums div.bbp-reply-content {
  text-align: right;
  margin-left: 0;
}

/* Reply to
-------------------------------------------------------------- */

body.rtl #bbpress-forums div.bbp-reply-to {
  padding: 12px 0 12px 12px;
  margin-right: 130px;
  text-align: left;
  margin-left: 0;
}
body.rtl #bbpress-forums div#bbp-cancel-reply-to {
  text-align: left;
}


/* Admin Links
-------------------------------------------------------------- */

body.rtl span.bbp-admin-links {
  float: left;
}
body.rtl fieldset span.bbp-admin-links {
  float: right;
}
body.rtl .bbp-forum-header a.bbp-forum-permalink,
body.rtl .bbp-topic-header a.bbp-topic-permalink,
body.rtl .bbp-reply-header a.bbp-reply-permalink {
  margin-right: 10px;
  margin-left: 0;
  float: left;
}

/* Pagination
-------------------------------------------------------------- */

body.rtl .bbp-pagination-count {
  float: right;
}
body.rtl .bbp-pagination-links {
  float: left;
}
body.rtl .bbp-pagination-links a,
body.rtl .bbp-pagination-links span.current {
  margin-right: 5px;
  margin-left: 0;
  float: right;
}
body.rtl .bbp-pagination-links span.dots {
  margin-right: 5px;
  margin-left: 0;
  float: right;
}
body.rtl .bbp-pagination {
  float: right;
}
body.rtl .bbp-topic-pagination {
  margin-right: 5px;
  margin-left: 0;
}

/* Forms
-------------------------------------------------------------- */

body.rtl #bbpress-forums fieldset.bbp-form {
  clear: right;
}
body.rtl #bbpress-forums fieldset.bbp-forum-form-attributes {
  margin-right: 25px;
  margin-left: 25px;
  float: left;
}
body.rtl .bbp-topic-form,
body.rtl .bbp-reply-form,
body.rtl .bbp-topic-tag-form {
  clear: right;
}
body.rtl body.topic-edit .bbp-topic-form div.avatar img,
body.rtl body.reply-edit .bbp-reply-form div.avatar img,
body.rtl body.single-forum .bbp-topic-form div.avatar img,
body.rtl body.single-reply .bbp-reply-form div.avatar img {
  margin-left: 0;
}
body.rtl #bbpress-forums div.bbp-topic-tags {
  float: left;
}

/* TinyMCE in themes
-------------------------------------------------------------- */

body.rtl #bbpress-forums div.bbp-the-content-wrapper input {
  margin: 0 0 0 2px;
}

/* Edit User
-------------------------------------------------------------- */

body.rtl #bbpress-forums #bbp-your-profile fieldset div {
  float: right;
  clear: right;
}
body.rtl #bbpress-forums #bbp-your-profile fieldset label[for] {
  padding: 5px 5px 5px 20px;
  text-align: left;
  float: right;
}
body.rtl #bbpress-forums #bbp-your-profile fieldset dl label[for] {
  text-align: right;
}
body.rtl #bbpress-forums #bbp-your-profile fieldset span.description {
  float: right;
  clear: right;
}
body.rtl #bbpress-forums #bbp-your-profile fieldset fieldset.password span.description {
  margin-right: 0;
}
body.rtl #bbpress-forums #bbp-your-profile fieldset.submit button {
  float: left;
}

/* Widgets
-------------------------------------------------------------- */

body.rtl .bbp-login-form .bbp-submit-wrapper {
  text-align: left;
}
body.rtl .bbp-login-form .bbp-login-links a {
  float: right;
  clear: right;
}
body.rtl .bbp-logged-in img.avatar {
  margin: 0 0 0 15px;
  float: right;
}
body.rtl .widget_display_stats dt {
  clear: right;
  float: right;
}
body.rtl .widget_display_replies .widget-container li div,
body.rtl .widget_display_topics .widget-container li div {
  float: left;
}
body.rtl .widget_display_search #bbp_search {
  margin-left: 2%;
  margin-right: 0;
}

body.rtl .widget_display_search input#bbp_search_submit{
float: left;
}
/* Avatars
-------------------------------------------------------------- */

body.rtl fieldset div.avatar {
  float: left;
}

/* BuddyPress Activity Streams
-------------------------------------------------------------- */
body.rtl .activity-list li.bbp_topic_create .activity-content .activity-inner,
body.rtl .activity-list li.bbp_reply_create .activity-content .activity-inner {
  border-right: 2px solid #eaeaea;
  border-left: 0 none;
  margin-right: 5px;
  margin-left: 0;
  padding-right: 10px;
  padding-left: 0;
}


/* User Pages
-------------------------------------------------------------- */

body.rtl #bbpress-forums #bbp-user-wrapper {
  float: right;
}
body.rtl #bbpress-forums #bbp-single-user-details {
  float: right;
}
body.rtl #bbpress-forums #bbp-single-user-details #bbp-user-description {
  margin-right: 180px;
  margin-left: 0;
}
body.rtl #bbpress-forums #bbp-user-body {
  margin-right: 180px;
  margin-left: 0;
}


/*--------------------------------------------------------------
Media Queries
--------------------------------------------------------------*/

/* =Standard Mobile Landscape
-------------------------------------------------------------- */
@media only screen and (max-width: 480px){
  body.rtl #bbpress-forums div.bbp-topic-tags {
    clear: left;
    float: left;
  }
  body.rtl span.bbp-reply-post-date {
    float: left;
  }
  body.rtl span.bbp-admin-links {
    clear: left;
    float: left;
  }
  body.rtl #bbpress-forums .bbp-body div.bbp-reply-author {
    padding-left: 80px;
    padding-right: 0;
    text-align: left;
  }
  body.rtl #bbpress-forums div.bbp-reply-author a.bbp-author-name {
    margin-left: 0;
  }
  body.rtl #bbpress-forums div.bbp-reply-author img.avatar {
    left: auto;
    left: 0;
  }
  body.rtl div.bbp-submit-wrapper {
    float: left;
  }
  body.rtl #bbpress-forums #bbp-user-body {
    margin-left: 0;
  }
}

/* =Standard Mobile Portrait
-------------------------------------------------------------- */
@media only screen and (max-width: 320px){
  body.rtl #bbpress-forums li.bbp-header div.bbp-reply-author {
    text-align: left;
  }
  body.rtl #bbpress-forums li.bbp-header div.bbp-reply-content {
    margin-left: 25%;
    margin-right: 0;
  }
}

/* =Extra Small Mobile
-------------------------------------------------------------- */
@media only screen and (max-width: 240px){
  body.rtl #bbpress-forums li.bbp-body li.bbp-topic-freshness,
  body.rtl #bbpress-forums li.bbp-header div.bbp-reply-content {
    margin-left: 0;
    text-align: left;
  }
  body.rtl #bbpress-forums li.bbp-footer div.bbp-reply-content {
    margin-left: 0;
  }
  body.rtl #bbpress-forums li.bbp-body div.bbp-reply-author {
    padding-left: 60px;
    padding-right: 0;
  }
}


/* =Dark Skin
-------------------------------------------------------------- */
.dark-skin{
	.bbp-topics-front ul.super-sticky,
	.bbp-topics ul.super-sticky,
	.bbp-topics ul.sticky,
	.bbp-forum-content ul.sticky{
	    background-color: #303030 !important;
	}

	#bbpress-forums div.even,
	#bbpress-forums ul.even {
    background-color: #26272B;
	}

	#bbpress-forums div.bbp-the-content-wrapper div.quicktags-toolbar{
    background-color: #303030;
    border-color: #2c3033;
	}

	#bbpress-forums div.bbp-the-content-wrapper input:hover {
    background: #FFF !important;
	}

	.widget_display_forums .widget-container li,
	.widget_display_views .widget-container li,
	.widget_display_replies .widget-container li,
	.widget_display_topics .widget-container li,
	.widget_display_stats dt,
	.widget_display_stats dd,
	#bbpress-forums li.bbp-body ul.forum,
	#bbpress-forums li.bbp-body ul.topic,
	#bbpress-forums div.wp-editor-container,
	#bbpress-forums li.bbp-header,
	#link-modal-title,
	#wp-link .query-results,
	#wp-link li,
	#wp-link .query-notice,
	#wp-link .submitbox{
    border-color: $base-border-color-in-white;
	}

	#wp-link-wrap,
	#link-modal-title,
	#wp-link .query-notice,
	#wp-link .query-results,
	#wp-link .submitbox{
		background-color: $darker_bg;
	}

	#wp-link li,
	#wp-link .query-notice{
		color: $dark-base-color;
	}

	#bbpress-forums div.bbp-the-content-wrapper input[type=button]{
		background-color: $darker_bg;
		border-color: $base-border-color-in-white;
		box-shadow: none;

		&:hover{
			background-color: $dark-bg !important;
		}
	}
}


/*Magazine2---------------------------------------------*/
.bbpress{
	.entry-header h1{
		margin: 0;
	}
}
