/*
Theme Name:     Editorial
Theme URI:      https://mysterythemes.com/wp-themes/editorial/
Author:         Mystery Themes
Author URI:     https://mysterythemes.com/
Description:    Editorial is a ultimate responsive magazine style Free WordPress theme. Suitable for online magazines, newspaper, publishing, personal blogs and any kind of sites. It is completely built on Customizer which allows you to customize most of the theme settings easily with live previews. It is fully widgetized theme so as to let users manage the website using the easy to use widgets. It is a flexible and powerful theme, which provides a lot of customization possibilities to the users. Get free support at https://mysterythemes.com/support/forum/themes/free-themes/ and check the demo at http://demo.mysterythemes.com/editorial/
Version:        1.3.3
License:        GNU General Public License v3 or later
License URI:    http://www.gnu.org/licenses/gpl-3.0.html
Text Domain:    editorial
Tags:           news, grid-layout, custom-colors, one-column, two-columns, three-columns, left-sidebar, right-sidebar, featured-images, footer-widgets, full-width-template, theme-options, translation-ready, rtl-language-support

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Editorial is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v3 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*//*--------------------------------------------------------------
Reset
--------------------------------------------------------------*/

html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, 
abbr, acronym, address, big, cite, code, del, dfn, em, font, 
ins, kbd, q, s, samp, small, strike, strong, sub, sup, 
tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

html {
    font-size: 62.5%;
    /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
    overflow-y: scroll;
    /* Keeps page centered in all browsers regardless of content height */
    -webkit-text-size-adjust: 100%;
    /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
    -ms-text-size-adjust: 100%;
    /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}

*,
*:before,
*:after {
    /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
    -webkit-box-sizing: border-box;
    /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
    -moz-box-sizing: border-box;
    /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
    box-sizing: border-box;
}

body {
    background: #fff;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption,
th,
td {
    font-weight: normal;
    text-align: left;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    quotes: "" "";
}

a:focus {
    outline: 0;
}

a:hover,
a:active {
    outline: 0;
}

a img {
    border: 0;
}


/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/

body,
button,
input,
select,
textarea {
    color: #3d3d3d;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    line-height: 1.8;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-weight: normal;
    font-family: 'Titillium Web', sans-serif;
    line-height: 1.3;
    margin-bottom: 15px;
    color: #3d3d3d;
    font-weight: 700;
}

p {
    margin-bottom: 20px;
}

b,
strong {
    font-weight: bold;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    margin: 0 15px;
    font-size: 20px;
    font-style: italic;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
}

address {
    margin: 0 0 15px;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code,
kbd,
tt,
var {
    font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}

sup,
sub {
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    bottom: 1ex;
}

sub {
    top: .5ex;
}

small {
    font-size: 75%;
}

big {
    font-size: 125%;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}


/*--------------------------------------------------------------
Elements
--------------------------------------------------------------*/

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 15px;
}

ul,
ol {
    margin: 0 0 15px 20px;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 15px;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 15px 15px;
}

img {
    height: auto;
    /* Make sure images are scaled correctly. */
    max-width: 100%;
    /* Adhere to container width. */
    vertical-align: middle;
}

figure {
    margin: 0;
}

table {
    margin: 0 0 15px;
    width: 100%;
    border-collapse: collapse;
}

th {
    font-weight: bold;
    border: 1px solid #CCC;
    padding: 5px 10px;
}

td {
    border: 1px solid #CCC;
    padding: 5px 10px;
}


/*--------------------------------------------------------------
Forms
--------------------------------------------------------------*/

button,
input,
select,
textarea {
    font-size: 100%;
    /* Corrects font size not being inherited in all browsers */
    margin: 0;
    /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
    vertical-align: middle;
}

.navigation .nav-links a,
.bttn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    background: #f54337;
    color: #ffffff;
    cursor: pointer;
    /* Improves usability and consistency of cursor style between image-type 'input' and others */
    font-size: 14px;
    line-height: 13px;
    height: 33px;
    border: none;
    padding: 10px 15px;
    font-weight: 400;
    display: inline-block;
    position: relative;
    text-shadow: none;
    border: 1px solid #f54337;
}

.navigation .nav-links a:hover,
.bttn:hover,
button,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    background: #f54337;
    color: #ffffff !important;
}

input[type="checkbox"],
input[type="radio"] {
    padding: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
    border: 0;
    padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
    color: #666;
    border: 1px solid #ccc;
    height: 36px;
    width: 100%;
    -webkit-appearance: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
    border: 1px solid #AAA;
}

.searchform input[type="text"]:focus {
    border: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
    padding: 3px 6px;
}

textarea {
    overflow: auto;
    /* Removes default vertical scrollbar in IE6/7/8/9 */
    padding-left: 3px;
    vertical-align: top;
    /* Improves readability and alignment in all browsers */
    color: #666;
    border: 1px solid #ccc;
    height: 160px;
    max-width: 100%;
    width: 100%;
}

.no-results input[type="search"] {
    width: 45%;
}


/*--------------------------------------------------------------
Links
--------------------------------------------------------------*/

a {
    color: #f54337;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

a:visited {}

a:hover,
a:focus,
a:active {
    color: #f54337;
}


/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/


/* Text meant only for screen readers */

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar */
}


/*--------------------------------------------------------------
Alignments
--------------------------------------------------------------*/

.alignleft {
    display: inline;
    float: left;
    margin-right: 15px;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 15px;
}

.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto;
}


/*--------------------------------------------------------------
Clearings
--------------------------------------------------------------*/

.clearfix:before,
.clearfix:after,
.row:before,
.row:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after,
.mt-container:after,
.mt-container:before {
    content: '';
    display: table;
}

.clearfix:after,
.row:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after,
.mt-container:after {
    clear: both;
}

.clear {
    clear: both;
}


/*--------------------------------------------------------------
9.0 Widgets
--------------------------------------------------------------*/

.widget {
    margin: 0 0 25px;
    padding-bottom: 10px;
}


/* Make sure select elements fit in widgets */

.widget select {
    max-width: 100%;
}


/*--------------------------------------------------------------
Posts and pages
--------------------------------------------------------------*/

.sticky {
    display: block;
}

h1.entry-title {
    color: #353535;
    font-weight: 700;
    margin-bottom: 0;
    padding-bottom: 0;
    text-transform: capitalize;
}

h1.entry-title a {
    color: #3d3d3d;
}

.hentry {
    margin: 0 0 15px;
}

.single .byline,
.group-blog .byline,
.posted-on,
.blog-author,
.blog-cat {
    display: inline;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
}

.cat-links {
    margin-right: 10px;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 15px 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 15px;
}

.edit-link .post-edit-link {
    background: #f54337;
    padding: 4px 10px;
    color: #FFF !important;
    line-height: 1;
    border-radius: 3px;
    font-size: 13px;
}

.edit-link .post-edit-link:before {
    content: "\f044";
    font-family: FontAwesome;
    margin-right: 5px;
}

#blog-post article.hentry,
.search article.hentry,
.archive article.hentry,
.tag article.hentry,
.category article.hentry,
.blog article.hentry {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #DDD;
}

.blog article.hentry:first-child {
    margin-top: 30px;
}

article.hentry .edit-link {
    display: block;
    margin-top: 20px;
}

article.hentry h1.entry-title {
    margin-bottom: 5px;
    line-height: 1.2;
}

article.hentry .entry-footer > span {
    margin-right: 15px;
    font-size: 13px;
}

.page-header .page-title {
    color: #333333;
    padding-bottom: 15px;
}

.posted-on:before {
    content: "\f073";
    font-family: FontAwesome;
    font-style: normal;
    margin-right: 5px;
}

.cat-links:before {
    content: "\f07c";
    font-family: FontAwesome;
    font-style: normal;
    margin-right: 5px;
}

.comments-link:before {
    content: "\f075";
    font-family: FontAwesome;
    font-style: normal;
    margin-right: 5px;
}

.byline:before {
    content: "\f007";
    font-family: FontAwesome;
    font-style: normal;
    margin-right: 5px;
}

.tags-links:before {
    content: "\f02c";
    font-family: FontAwesome;
    font-style: normal;
    margin-right: 3px;
}

.updated {
    display: none;
}

.published.updated {
    display: inline-block;
}

.entry-footer a {
    color: #999;
}

.entry-footer a:hover {
    color: #f54337
}

.nav-links .meta-nav {
    display: none;
}

.nav-links .nav-previous,
.nav-links .nav-next {
    width: 50%;
    float: left;
}

.nav-links .nav-next {
    text-align: right;
    float: right;
}

.nav-links .nav-previous a:before {
    content: "\f0d9";
    font-family: FontAwesome;
    font-style: normal;
    margin-right: 5px;
}

.nav-links .nav-next a:after {
    content: "\f0da";
    font-family: FontAwesome;
    font-style: normal;
    margin-left: 5px;
}

.nav-links .nav-previous,
.nav-links .nav-next {
  float: left;
  width: 25%;
}

.nav-links .nav-next {
  float: right;
}

.nav-links .nav-next a,
.nav-links .nav-previous a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.entry-thumbnail {
    width: 38%;
    float: left;
}

.entry-excerpt {
    width: 60%;
    float: right;
}

.short-content {
    margin-bottom: 10px;
}

.short-content + .bttn {
    float: right;
}

.entry-footer {
    margin-top: 10px;
}

.full-width {
    float: none;
    width: 100%;
}


/*--------------------------------------------------------------
Asides
--------------------------------------------------------------*/

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
    display: none;
}


/*--------------------------------------------------------------
Comments
--------------------------------------------------------------*/

.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

#comments h2.comments-title {
    color: #333;
    display: inline-block;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    margin: 15px 0;
    padding: 8px 15px;
}

#comments h3 {
    margin: 0 0 10px;
    color: #141414;
    font-weight: 600;
    display: inline-block;
    line-height: 22px;
    font-size: 18px;
}

#commentform label {
    width: 120px;
    display: block;
}

textarea#comment {
    width: 100%;
    height: 150px;
}


/*Comment Lists*/

.comments-area ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.comments-area ol.children {
    margin: 0 0 0 15px;
}

.comment-list .comment-body {
    padding: 15px;
    margin-bottom: 20px;
    background: #F2F2F2;
    border-top: 2px solid #f54337;
}

.comment-author img {
    vertical-align: text-top;
    margin-right: 15px;
}

.comment-metadata {
  margin-top: -10px;
  padding-left: 57px;
}

.comment-content {
  padding-left: 58px;
  margin-top: 10px;
}

.comment-author .fn {
    font-style: normal;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: bold;
}

.comment-author .fn .url {
    color: #333;
    padding: 0 5px;
}

.comment-author .fn .url:hover {
    color: #f54337;
}

.comment-author .says {
    display: none;
}

.commentmetadata {
    float: right;
    font-weight: normal;
    font-size: 12px;
    font-style: italic;
    font-weight: 300;
}

.commentmetadata a {
    color: #666;
}

.commentmetadata .comment-edit-link {
    color: #01AEFD;
}

.commentmetadata + .clear {
    margin-bottom: 20px;
}

.reply .comment-reply-link {
    background: none repeat scroll 0 0 #f54337;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 13px;
    line-height: 1;
    padding: 2px 10px;
}

#respond {
    background: #f9f9f9 none repeat scroll 0 0;
    color: #141414;
    margin-top: 90px;
    padding: 20px;
}

#commentform .form-submit {
    margin-bottom: 0;
}

#cancel-comment-reply-link {
    font-style: italic;
    color: #f54337;
}

#cancel-comment-reply-link:before {
    font-family: FontAwesome;
    content: "\f057";
    margin: 0 5px 0 20px;
    font-style: normal;
    color: #f54337;
}

.logged-in-as a {
    color: #f54337;
}


/*--------------------------------------------------------------
Infinite scroll
--------------------------------------------------------------*/


/* Globally hidden elements when Infinite Scroll is supported and in use. */

.infinite-scroll .paging-navigation,

/* Older / Newer Posts Navigation (always hidden) */

.infinite-scroll.neverending .site-footer {
    /* Theme Footer (when set to scrolling) */
    display: none;
}


/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */

.infinity-end.neverending .site-footer {
    display: block;
}

#infinite-footer {
    display: none;
}


/*--------------------------------------------------------------
Media
--------------------------------------------------------------*/

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

.wp-caption {
    border: 1px solid #ccc;
    margin-bottom: 15px;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 1.2% auto 0;
    max-width: 98%;
}

.wp-caption-text {
    text-align: center;
}

.wp-caption .wp-caption-text {
    margin: 10px 0;
}

.site-main .gallery {
    margin-bottom: 1.5em;
}

.gallery-caption {}

.site-main .gallery a img {
    border: none;
    height: auto;
    max-width: 90%;
}

.site-main .gallery dd,
.site-main .gallery figcaption {
    margin: 0;
}

.site-main .gallery-columns-4 .gallery-item {}

.site-main .gallery-columns-4 .gallery-item img {}


/* Make sure embeds and iframes fit their containers */

embed,
iframe,
object {
    max-width: 100%;
}


/*--------------------------------------------------------------
Galleries
--------------------------------------------------------------*/
.gallery {
    margin-bottom: 1.5em;
    margin-left: -2%;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
    margin-bottom: 3%;
    margin-left: 2%;
}

.site-main .gallery a img {
  max-width: none;
  width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 47%;
}

.gallery-columns-3 .gallery-item {
    max-width: 31.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 23%;
}

.gallery-columns-5 .gallery-item {
    max-width: 18%;
}

.gallery-columns-6 .gallery-item {
    max-width: 14.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 12.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 10.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 9.11%;
}

.gallery-caption {
    display: block;
}


/*--------------------------------------------------------------
Grid CSS
--------------------------------------------------------------*/

.mt-column-wrapper {
    margin-left: -2%;
}

.mt-column-1 {
    float: left;
    width: 98%;
    margin-left: 2%;
}

.mt-column-2 {
    float: left;
    width: 48%;
    margin-left: 2%;
}

.mt-column-3 {
    float: left;
    width: 31.33%;
    margin-left: 2%;
}

.mt-column-4 {
    float: left;
    width: 23%;
    margin-left: 2%;
}


/*--------------------------------------------------------------
COMMON CSS
--------------------------------------------------------------*/

body {
    font-weight: 400;
    overflow: hidden;
    position: relative;
    font-family: 'Titillium Web', sans-serif;
    line-height: 1.8;
}

.boxed_layout #page {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    width: 1200px;
    background: #ffffff;
}

body.fullwidth-layout #page {
    background: #fff none repeat scroll 0 0;
}

.mt-container {
    width: 1170px;
    margin: 0 auto;
}

.hide {
    display: none;
}


/*--------------------------------------------------------------
TOP HEADER CSS
--------------------------------------------------------------*/

.top-header-section {
    background: rgba(0, 0, 0, 0.07) none repeat scroll 0 0;
    font-size: 12px;
    padding: 8px 0;
}

.top-header-section .date-section {
    float: left;
    margin-right: 15px;
    color: #666363;
}

.top-header-section .date-section::before {
    content: "\f017";
    display: inline-block;
    font-family: FontAwesome;
    margin-right: 8px;
}

.top-menu ul,
#footer-navigation ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.top-menu ul li,
#footer-navigation ul li {
    border-left: 2px solid rgba(0, 0, 0, 0.3);
    display: inline-block;
    line-height: 12px;
    margin-right: 10px;
    padding: 0 0 0 10px;
}

.top-menu ul li a,
#footer-navigation ul li a {
    color: #333;
}

.top-menu ul li a:hover,
#footer-navigation ul li a:hover {
    color: #f54337;
}

#top-header-navigation {
    float: left;
}

#footer-navigation ul li ul {
    display: none;
}


/*--------------------------------------------------------------
# Social Links CSS
--------------------------------------------------------------*/

.top-social-wrapper {
    float: right;
}

.top-social-wrapper .social-link {
    display: inline-block;
    padding: 0 6px;
}

.top-social-wrapper .social-link .fa-facebook {
    color: #3350ae;
}

.top-social-wrapper .social-link .fa-twitter {
    color: #1eaaff;
}

.top-social-wrapper .social-link .fa-linkedin {
    color: #0084d7;
}

.top-social-wrapper .social-link .fa-youtube {
    color: #c70504;
}

.top-social-wrapper .social-link .fa-instagram {
    color: #ff7900;
}

.top-social-wrapper .social-link .fa-pinterest {
    color: #e02828;
}

.top-social-wrapper .social-link .fa-google-plus {
    color: #e02828;
}

.top-social-wrapper .social-link .fa-vimeo {
    color: #15DEFF;
}


/*--------------------------------------------------------------
MIDDLE HEADER CSS
--------------------------------------------------------------*/

.logo-ads-wrapper {
    padding: 20px 0;
}

.custom-logo-link {
    display: block;
    margin: 24px 0;
}

.site-branding {
    float: left;
}

.site-title-wrapper {
    margin-top: 15px;
}

.site-logo {
    margin: 30px 0;
}

.site-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    margin: 0;
    text-transform: uppercase;
}

.site-description {
    margin: 0;
}

.header-ads-wrapper {
    float: right;
}

.home .header-ads-wrapper .widget.editorial_ads_banner , 
.header-ads-wrapper .widget.editorial_ads_banner  {
    margin: 0;
    padding: 0;
}

.header-ads-wrapper .widget.editorial_782x90_banner {
    margin: 0;
}

.home .widget.editorial_ads_banner {
  margin-top: 10px;
  text-align: center;
}


/*--------------------------------------------------------------
BOTTOM HEADER CSS
--------------------------------------------------------------*/

#masthead {
    margin-bottom: 30px;
}

.bottom-header-wrapper {
    background: rgba(0, 0, 0, 0.05) none repeat scroll 0 0;
}

.is-sticky .bottom-header-wrapper {
  background: #f1f1f1 none repeat scroll 0 0;
  z-index: 999;
}

.home-icon,
#site-navigation {
    float: left;
}

.home-icon {
    font-size: 22px;
    padding: 0 10px;
    background: #f54337;
}

.home-icon a,
.home-icon a:hover {
    color: #ffffff;
}

#site-navigation ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

#site-navigation ul li {
    border-bottom: 2px solid #f54337;
    float: left;
    line-height: 38px;
    margin: 0 1px;
    position: relative;
    text-transform: capitalize;
}

#site-navigation ul li a {
    margin: 0 1px;
    padding: 0 15px;
    color: #5d5c5c;
    font-weight: 600;
    display: block;
}

#site-navigation ul li a:hover,
#site-navigation ul li.current-menu-item a {
    color: #f54337;
}

#site-navigation ul.sub-menu, #site-navigation ul.children {
    background: #f2f2f2 none repeat scroll 0 0;
    left: 0;
    min-width: 200px;
    position: absolute;
    top: 120%;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#site-navigation ul li:hover > ul.sub-menu, #site-navigation ul li:hover > ul.children {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

#site-navigation ul.sub-menu li, #site-navigation ul.children li {
    float: none;
    display: block;
    border-bottom: 1px solid #e1e1e1;
}

#site-navigation ul.sub-menu li:last-child, #site-navigation ul.children li:last-child {
    border: none;
}

#site-navigation ul.sub-menu ul, #site-navigation ul.children ul {
    right: -100%;
    left: auto;
    top: -20%;
}

#site-navigation ul.sub-menu li:hover > ul, #site-navigation ul.children li:hover > ul {
    top: 0;
}

#site-navigation li.menu-item-has-children > a:after, #site-navigation li.page_item_has_children > a:after{
    content: "\f107";
    font-family: FontAwesome;
    position: absolute;
    right: 15px;
    top: 2px;
}

#site-navigation ul.sub-menu li.menu-item-has-children > a:after, #site-navigation ul.children li.page_item_has_children > a:after {
    content: "\f105";
}

#site-navigation ul li.menu-item-has-children a, #site-navigation ul li.page_item_has_children a {
    margin-right: 15px;
}

.header-search-wrapper {
    float: right;
    position: relative;
}

.search-main {
    display: block;
    line-height: 40px;
    padding: 0 14px;
    cursor: pointer;
    color: #ffffff;
    background: #f54337;
}

.header-search-wrapper .search-form-main {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.15);
    border-top: 2px solid #f54337;
    padding: 15px;
    position: absolute;
    right: 0;
    top: 130%;
    width: 300px;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
}

.header-search-wrapper .search-form-main:before {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f54337;
    content: "";
    position: absolute;
    right: 15px;
    top: -10px;
}

.header-search-wrapper .search-form-main .search-field {
    border-radius: 0;
    padding: 4px 10px;
    width: 80%;
    float: left;
}

.header-search-wrapper .search-form-main .search-submit {
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    color: #fff;
    float: left;
    padding: 10px 0 10px;
    width: 20%;
    height: 36px;
    background: #f54337;
}

.search-form-main.active-search {
    opacity: 1;
    visibility: visible;
}

.menu-toggle {
    color: #333;
    display: none;
    float: left;
    font-size: 20px;
    padding: 2px 15px;
}

.sub-toggle {
    display: none;
}


/*--------------------------------------------------------------
TICKER CSS
--------------------------------------------------------------*/

.editorial-ticker-wrapper {
    margin-top: 30px;
}

#mt-newsTicker {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.ticker-caption {
    background: #3f3f3f none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    float: left;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 0;
    text-align: center;
    width: 10%;
    position: relative;
}

.ticker-caption::after {
    border-bottom: 18px solid transparent;
    border-left: 12px solid #3f3f3f;
    border-top: 18px solid transparent;
    content: "";
    position: absolute;
    right: -12px;
    top: 0;
}

.ticker-content-wrapper {
    border: 1px solid #e1e1e1;
    float: left;
    height: 36px;
    overflow: hidden;
    padding: 4px 0px 0 30px;
    width: 90%;
    position: relative;
    border-left: none;
}

.ticker-content-wrapper .news-post a {
    color: #666;
}

.ticker-content-wrapper .bx-controls {
    position: absolute;
    right: 5px;
    top: 0;
}

.ticker-content-wrapper .bx-controls a {
    color: #333;
    display: inline-block;
    margin: 5px 10px 0 0;
    opacity: 0.6;
    position: static;
    vertical-align: top;
}

.ticker-content-wrapper .bx-controls a:hover {
    opacity: 1;
}


/*--------------------------------------------------------------
SLIDER CSS
--------------------------------------------------------------*/

.mt-featured-slider-wrapper {
    float: left;
    margin-right: 1%;
    width: 50%;
}

.editorialSlider {
    margin: 0;
    list-style: none;
}

.mt-slider-section,
.featured-post-wrapper .single-featured-wrap,
.editorial_block_grid .single-post-wrapper {
    position: relative;
}

.mt-slider-section .slider-content-wrapper,
.featured-post-wrapper .single-featured-wrap .featured-content-wrapper,
.editorial_block_grid .post-content-wrapper {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)) repeat scroll 0 0;
    bottom: 0;
    left: 0;
    padding: 0 20px 20px;
    position: absolute;
    width: 100%;
}

.mt-slider-section .slide-title,
.featured-post-wrapper .featured-title,
.editorial_block_grid .post-title {
    margin-bottom: 0;
    line-height: 28px;
}

.mt-slider-section .slide-title {
    margin-top: 5px;
}

.mt-slider-section .slide-title a,
.featured-post-wrapper .featured-title a,
.editorial_block_grid .post-title a {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
}

.mt-slider-section .slide-title a:hover,
.featured-post-wrapper .featured-title a:hover,
.editorial_block_grid .post-title a:hover {
    color: #f54337;
}

.slider-meta-wrapper .post-meta-wrapper > span,
.slider-meta-wrapper .post-meta-wrapper > a,
.featured-meta-wrapper .post-meta-wrapper > span,
.featured-meta-wrapper .post-meta-wrapper > a,
.post-meta-wrapper > span,
.post-meta-wrapper span a {
    color: #878787;
    display: inline-block;
    font-size: 13px;
    margin: 2px 10px 0 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-style: normal;
}

.editorial_featured_slider .post-meta-wrapper > span,
.editorial_featured_slider .post-meta-wrapper a,
.editorial_block_grid .post-meta-wrapper > span,
.editorial_block_grid .post-meta-wrapper a {
    color: #dfdcdc;
}

.slider-meta-wrapper span:hover,
.slider-meta-wrapper a:hover,
.featured-meta-wrapper span:hover,
.featured-meta-wrapper a:hover,
.post-meta-wrapper > span:hover,
.post-meta-wrapper span > a:hover {
    color: #f54337;
}

.category-button a {
    background: red none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    margin: 0 10px 2px 0;
    text-transform: uppercase;
    font-size: 12px;
    padding: 0 10px;
}

.category-button a:hover {
    color: #ffffff !important;
}

.mt-slider-section .bx-controls {
    position: absolute;
    right: 10px;
    top: 10px;
}

.mt-slider-section .bx-controls a {
    background: #333 none repeat scroll 0 0;
    color: #ffffff;
    display: inline-block;
    font-size: 10px;
    margin: 0 0 0 5px;
    padding: 4px 10px;
    opacity: 0.6;
}

.mt-slider-section .bx-controls a:hover {
    background: #f54337;
    opacity: 1;
    color: #fff;
}

.featured-post-wrapper {
    float: right;
    width: 49%;
}

.featured-left-section {
    float: left;
    width: 48.8%;
}

.featured-left-section .single-featured-wrap {
    margin-bottom: 10px;
}

.featured-left-section .single-featured-wrap:last-child {
    margin: 0;
}

.featured-right-section {
    float: right;
    width: 49.5%;
}

.featured-post-wrapper .single-featured-wrap .featured-content-wrapper {
    padding: 0 10px 10px;
}

.featured-post-wrapper .featured-title, 
.editorial_block_grid .post-content-wrapper .post-title {
    line-height: 22px;
    margin: 5px 0 0;
}

.featured-post-wrapper .featured-title a,
.editorial_block_grid .post-content-wrapper .post-title a {
    font-size: 18px;
}

.featured-slider-section .block-header {
    display: none;
}

.cS-hidden {
    height: 1px;
    opacity: 0;
    filter: alpha(opacity=0);
    overflow: hidden;
}


/*--------------------------------------------------------------
Editorial Grid Block
--------------------------------------------------------------*/

.home .widget {
    margin: 30px 0 0;
    padding-bottom: 0;
}

.home .featured-slider-section .widget {
    margin: 0;
    padding: 0 0 10px;
}

.home .featured-slider-section .widget.editorial_block_grid {
    padding: 0;
}

.home-primary-wrapper {
    float: left;
    width: 66%;
}

.home-secondary-wrapper {
    float: right;
    width: 31%;
}

.editorial_block_grid .column-2-layout .single-post-wrapper,
.editorial_block_grid .column-3-layout .single-post-wrapper,
.editorial_block_grid .column-4-layout .single-post-wrapper {
    float: left;
    margin-left: 2%;
    width: 48%;
}

.editorial_block_grid .column-3-layout .single-post-wrapper {
    width: 32.33%;
    margin-left: 1%;
}

.editorial_block_grid .column-4-layout .single-post-wrapper {
    width: 23%;
}

.editorial_block_grid .block-posts-wrapper {
    margin-left: -2%;
}

.editorial_block_grid .column-3-layout .block-posts-wrapper {
    margin-left: -1%;
}

.block-header,
.widget .widget-title-wrapper,
.related-articles-wrapper .widget-title-wrapper {
    background: #f1f1f1 none repeat scroll 0 0;
    border-left: 2px solid #f54337;
    line-height: 18px;
    margin-bottom: 20px;
    min-height: 23px;
    text-align: left;
}

.block-header .block-title,
.widget .widget-title,
.related-articles-wrapper .related-title {
    background: #fff none repeat scroll 0 0;
    display: inline-block;
    font-size: 18px;
    margin: 0;
    padding: 0 20px;
    text-transform: uppercase;
}

.block-header .block-title a,
.widget .widget-title a,
.related-articles-wrapper .related-title a{
    color: #333;
}


.block-header .block-title a:hover,
.widget .widget-title a:hover,
.related-articles-wrapper .related-title a:hover{
    color: #f54337;
}

.grid-posts-block .post-content-wrapper,
.column-posts-block .post-content-wrapper {
    margin-top: 10px;
}

.grid-posts-block .post-title,
.column-posts-block .post-title {
    margin: 0;
}

.grid-posts-block .post-title a,
.column-posts-block .post-title a {
    color: #333333;
    font-size: 18px;
    text-transform: uppercase;
}

.single-post-wrapper .post-meta-wrapper > span,
.single-post-wrapper .post-meta-wrapper span > a {
    font-style: normal;
}

.post-content-wrapper .post-content {
    color: #656565;
    font-size: 14px;
    margin-top: 16px;
}

.list-posts-block .single-post-wrapper,
.column-posts-block .single-post-wrapper.secondary-post {
    margin-bottom: 15px;
}

.list-posts-block .single-post-wrapper .post-thumb-wrapper,
.column-posts-block .single-post-wrapper.secondary-post .post-thumb-wrapper {
    float: left;
    margin-right: 2%;
    width: 32%;
}

.list-posts-block .single-post-wrapper .post-content-wrapper,
.column-posts-block .single-post-wrapper.secondary-post .post-content-wrapper {
    float: right;
    width: 64%;
}

.list-posts-block .single-post-wrapper .post-content-wrapper .comments-link,
.column-posts-block .single-post-wrapper.secondary-post .post-content-wrapper .comments-link {
    display: none;
}

.list-posts-block .single-post-wrapper .post-content-wrapper .post-title a,
.column-posts-block .single-post-wrapper.secondary-post .post-content-wrapper .post-title a {
    color: #333;
    font-size: 15px;
    text-transform: uppercase;
}

.list-posts-block .single-post-wrapper .post-content-wrapper .post-title,
.column-posts-block .single-post-wrapper.secondary-post .post-content-wrapper .post-title {
    margin: 0;
    line-height: 18px;
}

.grid-posts-block .post-title a:hover,
.list-posts-block .single-post-wrapper .post-content-wrapper .post-title a:hover,
.column-posts-block .single-post-wrapper.secondary-post .post-content-wrapper .post-title a:hover {
    color: #f54337;
}

.editorial_block_grid .single-post-wrapper {
    margin-bottom: 15px;
}


/*--------------------------------------------------------------
Editorial Default Widget
--------------------------------------------------------------*/

.widget_search .search-field {
    float: left;
    width: 78%;
}

.widget_search .search-submit {
    background: #f54337 none repeat scroll 0 0;
    color: #ffffff;
    height: 36px;
    width: 22%;
}

.widget_archive ul,
.widget_categories ul,
.widget_recent_entries ul,
.widget_meta ul,
.widget_recent_comments ul,
.widget_rss ul,
.widget_pages ul,
.widget_nav_menu ul {
    list-style: outside none none;
    margin: 0;
}

.widget_archive li,
.widget_categories li,
.widget_recent_entries li,
.widget_meta li,
.widget_recent_comments li,
.widget_rss li,
.widget_pages li,
.widget_nav_menu li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.widget_archive li:last-child,
.widget_categories li:last-child,
.widget_recent_entries li:last-child,
.widget_meta li:last-child,
.widget_recent_comments li:last-child,
.widget_rss li:last-child,
.widget_pages li:last-child,
.widget_nav_menu li:last-child {
    border: none;
}

.widget_archive a,
.widget_categories a,
.widget_recent_entries a,
.widget_meta a,
.widget_recent_comments li,
.widget_rss li,
.widget_pages li a,
.widget_nav_menu li a {
    color: #333333;
    font-size: 14px;
    line-height: 32px;
    padding-left: 22px;
    position: relative;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
    display: inline-block;
}

.widget a:hover,
.widget a:hover::before,
.widget li:hover::before {
    color: #f54337;
}

.widget_archive a::before,
.widget_categories a::before,
.widget_recent_entries a::before,
.widget_meta a::before,
.widget_recent_comments li::before,
.widget_rss li:before,
.widget_pages li a:before,
.widget_nav_menu li a:before {
    color: #afb4bd;
    content: "\f187";
    font-family: "FontAwesome";
    font-size: 14px;
    left: 0;
    position: absolute;
    top: 0px;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.widget_categories a::before {
    content: "\f07b";
}

.widget_recent_entries a::before {
    content: "\f101";
}

.widget_meta a::before,
.widget_nav_menu li a:before {
    content: "\f105";
}

.widget_recent_comments li::before {
    content: "\f086";
    top: 0;
}

.widget_rss li::before {
    content: "\f09e";
    top: 0;
}

.widget_pages li a:before {
    content: "\f1ea";
    top: 0;
}

.widget_search .search-field {
    width: 75%;
    float: left;
}

.widget_search .search-submit {
    height: 36px;
    width: 25%;
    background: #f54337;
    border-color: #f54337;
    color: #ffffff;
}

.widget_recent_entries .post-date {
    color: #8f8f8f;
    display: block;
    font-size: 11px;
    margin-top: -5px;
    padding-left: 24px;
}

.widget_nav_menu .sub-menu {
    display: none;
}

.widget_nav_menu li::before {
    top: 0;
}

.editorial-medium-banner {
    display: block;
    text-align: center;
}

.widget_tag_cloud .tagcloud a {
    color: #909090;
    font-size: 14px !important;
    border: 1px solid #cfcfcf;
    padding: 1px 10px;
    display: inline-block;
    margin: 0 5px 10px 0;
    border-radius: 2px;
}

.widget_tag_cloud .tagcloud a:hover {
    background: #F54037;
    color: #fff;
    border-color: #F54037;
}


/*--------------------------------------------------------------
Sidebar layout css 
--------------------------------------------------------------*/

#primary,
.home.blog #primary {
    float: left;
    width: 70%;
}

#secondary,
.home.blog #secondary {
    float: right;
    width: 27%;
}

.page-template-magazine-template #primary {
    float: none;
    width: 100%;
}

.left-sidebar #primary {
    float: right;
}

.left-sidebar #secondary {
    float: left;
}

.no-sidebar #primary {
    float: none;
    width: 100%;
    margin: 0 auto;
}

.no-sidebar #secondary {
    display: none;
}

.no-sidebar-center #primary {
    float: none;
    margin: 0 auto;
}

.home.blog #content .mt-container {
    margin: 60px auto;
}

.home.blog #content #primary article:first-child {
    margin-top: 0;
}


/*--------------------------------------------------------------
Search page css 
--------------------------------------------------------------*/

.search-results .entry-title,
.archive .entry-title,
.single .entry-title,
.entry-title {
    font-size: 28px;
    margin-bottom: 10px;
}

.entry-title a:hover {
    color: #F54337;
}

.entry-meta span a,
.entry-meta span,
.cat-links {
    color: #9f9f9f;
    font-size: 13px;
}

.entry-meta > span {
    margin-right: 5px;
    padding-right: 5px;
}

.entry-meta span a:hover {
    color: #F54337;
}

.archive .post-readmore a {
    position: relative;
}

.archive .post-readmore a::after {
    content: "\f101";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 14px;
    opacity: 0;
    position: relative;
    right: -10px;
    visibility: visible;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.post-readmore a:hover:after {
    right: 0;
    opacity: 1;
    visibility: visible;
}

.post-readmore a:hover {
    color: #F54337;
}

.single-post-image {
    margin: 0 0 20px;
}


/*--------------------------------------------------------------
Editorial Block Column
--------------------------------------------------------------*/

.home-primary-wrapper .editorial_block_column {
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
    width: 47%;
    margin-left: 3%;
}

.home-primary-wrapper .editorial_block_column-wrap {
    margin-left: -3%;
}

.home-secondary-wrapper .editorial_block_column {
    width: 100%;
}

.home-secondary-wrapper .editorial_block_column {
    margin-left: 0;
}

.editorial_block_column .single-post-wrapper.primary-post {
    margin-bottom: 25px;
}

.home-primary-wrapper .editorial_782x90_banner {
    margin: 20px 0 0;
    text-align: center;
}


/*--------------------------------------------------------------
Editorial Block List
--------------------------------------------------------------*/

.editorial_block_list .single-post-wrapper {
    margin-bottom: 2%;
}

.editorial_block_list .post-thumb-wrapper {
    float: left;
    width: 48%;
}

.editorial_block_list .post-content-wrapper {
    float: right;
    width: 50%;
}


/*--------------------------------------------------------------
Footer CSS
--------------------------------------------------------------*/

#top-footer {
    background: rgba(0, 0, 0, 0.03) none repeat scroll 0 0;
    margin-top: 40px;
    padding: 40px 0 50px;
}

.mt-footer-widget-wrapper {
    margin-left: -2%;
}

#top-footer.column1 .mt-footer-widget,
#top-footer.column2 .mt-footer-widget,
#top-footer.column3 .mt-footer-widget,
#top-footer.column4 .mt-footer-widget {
    float: left;
    margin-left: 2%;
}

#top-footer.column1 .mt-footer-widget {
    width: 98%
}

#top-footer.column2 .mt-footer-widget {
    width: 48%
}

#top-footer.column3 .mt-footer-widget {
    width: 31.33%
}

#top-footer.column4 .mt-footer-widget {
    width: 23%
}

#top-footer .block-header,
#top-footer .widget .widget-title-wrapper,
#top-footer .block-header .block-title,
#top-footer .widget .widget-title {
    background: none;
}

#bottom-footer {
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
    font-size: 13px;
    padding: 8px 0;
}

#bottom-footer .site-info {
    float: left;
}

#footer-navigation {
    float: right;
}

#footer-navigation ul li:first-child {
    border: none;
}


/*--------------------------------------------------------------
Error 404 css 
--------------------------------------------------------------*/

.error-404.not-found {
    border: 1px solid #e1e1e1;
    margin: 0 auto;
    max-width: 700px;
}

.error404 .page-title {
    background: #f54337 none repeat scroll 0 0;
    color: #fff;
    font-size: 20px;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

.error-num {
    font-size: 114px;
    font-weight: 700;
    text-align: center;
}

.error-num > span {
    font-size: 34px;
    text-transform: uppercase;
}

.error404 .page-content {
    font-size: 14px;
    text-align: center;
}


/*--------------------------------------------------------------
Archive page  css 
--------------------------------------------------------------*/

.archive .page-header .page-title {
    background: #fff none repeat scroll 0 0;
    display: inline-block;
    font-size: 24px;
    margin: 0;
    padding: 0 30px;
    text-transform: uppercase;
}

.archive .page-header {
    background: #f1f1f1 none repeat scroll 0 0;
    border-left: 4px solid #f54337;
    line-height: 24px;
    margin-bottom: 30px;
    padding: 0 20px 0 0;
}

.archive-classic .post-image {
    text-align: center;
}

.archive .entry-header {
    margin-top: 20px;
    text-align: center;
}

.archive-classic .post-cat-list,
.archive-columns .post-cat-list {
    margin-bottom: 10px;
}

.archive-classic .post-cat-list .cat-name,
.archive-columns .post-cat-list .cat-name {
    display: inline-block;
    font-size: 14px;
    margin: 0 10px 0 0;
    text-transform: uppercase;
}

.archive-classic .entry-title {
    margin-bottom: 20px;
}

.archive-classic .entry-title a {
    color: #333;
    position: relative;
    display: block;
}

.archive.archive-classic .entry-title a:after {
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 30px;
    height: 4px;
    background: #f54337;
    margin-left: -15px;
    content: "";
}

.archive-classic .entry-title a:hover {
    color: #f54337;
}

.archive-classic .entry-content {
    text-align: justify;
}

.archive.archive-classic .entry-content{
    text-align: center;
}

.archive-classic .entry-content p {
    margin-bottom: 20px;
}

.archive.archive-classic .entry-content p {
    margin-bottom: 0;
}

.archive-classic .entry-footer {
    margin-top: 20px;
    text-align: center;
}

.archive-classic .entry-meta > span {
    margin-right: 15px;
}

.search .entry-title {
    margin: 0 0 10px;
}
.taxonomy-description {
    float: left;
    margin-top: 10px;
}
.archive .entry-meta {
    text-align: center;
}

/*--------------------------------------------------------------
Archive page  column css 
--------------------------------------------------------------*/

.archive-columns .archive-content-wrapper article {
    border: medium none;
    display: inline-block;
    margin: 0 -4px 20px 3%;
    text-align: left;
    vertical-align: top;
    width: 47%;
}

.archive-columns .archive-content-wrapper {
    margin-left: -3%;
}

.archive-columns .post-cat-list {
    margin-bottom: 0;
}

.archive-columns .entry-title {
    margin: 0;
}

.archive-columns .entry-title a {
    font-size: 18px;
    color: #333;
}

.archive-columns .entry-title a:hover {
    color: #f54337;
}

.archive-columns .entry-content {
    margin-top: 10px;
}

.archive-columns .entry-header {
    margin-top: 15px;
    text-align: left;
}

.archive-columns .archive-desc-wrapper {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 5px 20px 20px;
    position: relative;
}

.archive-columns .archive-desc-wrapper:before {
    position: absolute;
    left: 20px;
    top: -10px;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: "";
}

.archive-columns .entry-footer {
    margin: -10px 0 0;
}


/*--------------------------------------------------------------
Related Article css 
--------------------------------------------------------------*/

.related-posts-wrapper .single-post-wrap {
    float: left;
    margin-left: 2%;
    width: 31.33%;
}

.related-posts-wrapper {
    margin-left: -2%;
}

.related-posts-wrapper .category-button a {
    color: #fff;
    margin-top: 15px;
    margin-bottom: 5px;
}

.related-posts-wrapper .post-title {
    margin-bottom: 10px;
}

.related-posts-wrapper .post-title {
    margin-bottom: 0;
    line-height: 20px;
}

.related-posts-wrapper .post-title a {
    color: #333;
    font-size: 18px;
}

.related-posts-wrapper .post-title a:hover {
    color: #f54337;
}

.related-posts-wrapper .post-meta-wrapper {
    margin-bottom: 10px;
}


/*--------------------------------------------------------------
Author css 
--------------------------------------------------------------*/

.editorial-author-wrapper {
    border: 1px solid #e1e1e1;
    padding: 15px;
    margin-bottom: 30px;
}

.editorial-author-wrapper .author-avatar {
    float: left;
    width: 17%;
}

.editorial-author-wrapper .author-desc-wrapper {
    float: right;
    width: 80%;
}

.editorial-author-wrapper .author-desc-wrapper .author-title {
    color: #333;
    display: block;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: capitalize;
}

/*--------------------------------------------------------------
scroll to top css 
--------------------------------------------------------------*/

#mt-scrollup {
    background-color: #f54337;
    bottom: 20px;
    color: #ffffff;
    display: none;
    height: 40px;
    line-height: 35px;
    position: fixed;
    right: 20px;
    width: 40px;
    text-align: center;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#mt-scrollup {
    display: none;
}

#mt-scrollup:hover,
#mt-scrollup:focus,
#mt-scrollup:active {
    color: #ffffff;
    border-radius: 100%;
}

.home .post-content-wrapper .post-content {
  max-height: 80px;
  overflow: hidden;
}