/**
 * Third Party Components :: FontAwesome - TieFont - Custom Scroll
 * Why Loading third-party-components in IE less than 10?
 * The reason is: Stylesheet Limits in Internet Explorer
 * Description: outlines the maximum number of stylesheets and rules supported by Internet Explorer 6 to 9. A sheet may contain up to 4095 rules.
 * So that some of stylesheet content included here again, or you can say we divide the stylesheet into two files.
 *
 * -----------------------------------------------------------------------------
 */
#footer {
  margin-top: 50px;
  padding: 0;
}

@media (max-width: 991px) {
  #footer {
    margin-top: 30px;
  }
  .section-wrapper.has-background + #footer {
    margin-top: 0;
  }
}

.container-full.has-background + #footer {
  margin-top: 0;
}

#footer .widget-title-icon {
  display: none;
}

#footer .container-wrapper {
  padding: 15px 0;
  margin: 0;
  background: transparent;
}

#footer .widget,
#footer .widget-content-only {
  margin-bottom: 0;
  border: 0;
}

#footer .widget.buddypress,
#footer .widget-content-only.buddypress {
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  #footer .widget {
    margin-bottom: 20px;
  }
}

#footer .widget_nav_menu li {
  list-style: none;
}

#footer .footer-widget-area {
  margin-bottom: 10px;
}

#footer .footer-widget-area:first-child:not(.footer-boxed-widget-area) {
  padding-top: 60px;
}

@media (max-width: 767px) {
  #footer .footer-widget-area:first-child:not(.footer-boxed-widget-area) {
    padding-top: 30px;
  }
}

#footer .footer-widget-area.footer-boxed-widget-area:first-child {
  margin-top: 50px;
}

#footer .footer-widget-area.footer-boxed-widget-area:last-child {
  margin-bottom: 30px;
}

#footer .footer-widget-area:last-child {
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  #footer .footer-widget-area {
    margin-bottom: 20px;
  }
}

#footer .footer-boxed-widget-area {
  padding: 30px 30px 0;
  margin-bottom: 50px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2px;
}

#footer .footer-boxed-widget-area [class*="tie-col"] {
  padding-right: 10px;
  padding-left: 10px;
}

#footer .footer-boxed-widget-area .container-wrapper,
#footer .footer-boxed-widget-area .widget.widget-content-only {
  padding: 0;
  margin-bottom: 30px;
}

#footer .posts-list-counter .posts-list-items li:before {
  border-color: #2c2f34;
}

/* Site Info Bar---------------------------------------------------------------*/
#site-info {
  background: #161619;
  padding: 20px 0;
  line-height: 32px;
  text-align: center;
}

#site-info .copyright-text {
  font-size: 13px;
}

#site-info .footer-menu {
  text-align: center;
}

#site-info .footer-menu li {
  display: inline-block;
  margin: 0 5px;
}

#site-info ul.social-icons {
  text-align: center;
  margin-top: 5px;
}

#site-info ul.social-icons li {
  float: none;
  display: inline-block;
  margin: 0;
}

#site-info ul.social-icons li a span {
  color: #aaaaaa;
  line-height: 22px;
}

#site-info ul.social-icons li a:hover span {
  color: #ffffff;
}

@media (min-width: 768px) {
  #site-info.site-info-layout-2 .copyright-text-first {
    float: left;
  }
  #site-info.site-info-layout-2 .copyright-text-second,
  #site-info.site-info-layout-2 ul.social-icons,
  #site-info.site-info-layout-2 .footer-menu {
    float: right;
    margin: 0;
    margin-left: 10px;
  }
}

@media (max-width: 767px) {
  #site-info .tie-alignleft,
  #site-info .tie-alignright {
    float: none;
  }
}

#go-to-top {
  width: 35px;
  height: 35px;
  line-height: 35px;
  background: #0088ff;
  text-align: center;
  display: block;
  position: fixed;
  bottom: -100px;
  right: 25px;
  z-index: 3;
  color: #ffffff;
  transition: 0.3s;
}

#go-to-top:hover {
  opacity: 0.85;
}

#go-to-top.show-top-button {
  bottom: 25px;
}

@media (max-width: 767px) {
  #go-to-top {
    right: 5px;
    width: 25px;
    height: 25px;
    line-height: 25px;
  }
  #go-to-top.show-top-button {
    bottom: 5px;
  }
  .has-mobile-share #go-to-top.show-top-button {
    bottom: 45px;
  }
}

/* Widgets at dark skin--------------------------------------------------------*/
.side-aside.dark-skin .tabs-widget .tabs-wrapper .tab-content,
#footer.dark-skin .tabs-widget .tabs-wrapper .tab-content {
  padding: 0;
}

.side-aside.dark-skin .tabs-widget .tabs-wrapper .tabs-menu,
#footer.dark-skin .tabs-widget .tabs-wrapper .tabs-menu {
  margin-bottom: 20px;
}

.side-aside.dark-skin .tabs-widget .tabs-wrapper .tabs-menu li:after,
#footer.dark-skin .tabs-widget .tabs-wrapper .tabs-menu li:after {
  display: none;
}

.side-aside.dark-skin .tabs-widget .tabs-wrapper .tabs-menu li a,
#footer.dark-skin .tabs-widget .tabs-wrapper .tabs-menu li a {
  border: 0;
  color: #ffffff;
  line-height: 55px;
  background-color: rgba(0, 0, 0, 0.3);
}

.side-aside.dark-skin .tabs-widget .tabs-wrapper .tabs-menu li a:before,
#footer.dark-skin .tabs-widget .tabs-wrapper .tabs-menu li a:before {
  display: none;
}

.side-aside.dark-skin .tabs-widget .tabs-wrapper .tabs-menu li a:hover,
.side-aside.dark-skin .tabs-widget .tabs-wrapper .tabs-menu li.is-active a,
#footer.dark-skin .tabs-widget .tabs-wrapper .tabs-menu li a:hover,
#footer.dark-skin .tabs-widget .tabs-wrapper .tabs-menu li.is-active a {
  background: #0088ff;
  color: #ffffff;
}

.side-aside.dark-skin .latest-tweets-widget .dark-btn.button,
#footer.dark-skin .latest-tweets-widget .dark-btn.button {
  display: none;
}

.side-aside.dark-skin .social-statistics-widget ul.white-bg li.social-icons-item a,
#footer.dark-skin .social-statistics-widget ul.white-bg li.social-icons-item a {
  border-color: rgba(255, 255, 255, 0.1) !important;
}

#footer.dark-skin .tabs-widget .tabs-wrapper .tabs-menu li a {
  background-color: #1f2024;
}

/* Instagram above footer --------------------------------------------------------*/
#footer-instagram {
  position: relative;
  text-align: center;
  color: #fff;
}

#footer-instagram .tieinsta-grid.tie-instagram .tie-instagram-photos-content {
  padding: 0;
}

#footer-instagram .tie-instagram {
  margin: 0;
}

#footer-instagram .tie-instagram-photos-content-inner {
  padding: 0;
  font-size: 0;
  white-space: nowrap;
  word-wrap: normal;
  overflow-y: hidden;
  overflow-x: auto;
}

#footer-instagram .tie-instagram-post-outer {
  width: 16.6666666666666% !important;
}

#footer-instagram .tie-instagram-post-outer a:hover {
  opacity: 0.7;
}

@media (min-width: 1200px) {
  #footer-instagram .mCSB_container {
    width: 100% !important;
    left: auto !important;
  }
}

@media (max-width: 900px) {
  #footer-instagram .tie-instagram-photos-content-inner {
    max-height: 150px;
  }
  #footer-instagram .tie-instagram-post-outer {
    width: 150px !important;
    display: inline-block;
    float: none;
    font-size: 13px;
  }
}

#footer-instagram .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  height: 10px;
}

#footer-instagram .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  background: rgba(0, 0, 0, 0.6);
}

#footer #instagram-link {
  position: absolute;
  display: block;
  z-index: 1;
  padding: 20px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  transform: translateX(-50%) translateY(-50%);
  background: rgba(0, 0, 0, 0.7);
  display: block;
  font-size: 16px;
  font-weight: 600;
  text-shadow: 0 0 5px #000000;
  text-align: center;
  white-space: nowrap;
  word-wrap: normal;
  color: #ffffff;
}

@media (max-width: 767px) {
  #footer #instagram-link {
    font-size: 0;
    right: 10px;
    top: 10px;
    left: auto;
    transform: none;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 2px;
  }
  #footer #instagram-link span {
    font-size: 15px;
    vertical-align: middle;
  }
  #footer #instagram-link:before, #footer #instagram-link:after {
    display: none;
  }
}

#instagram-link:before, #instagram-link:after {
  top: 0;
  left: 0;
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  opacity: 1;
  border: 2px solid #0088ff;
  border-width: 2px 0 0 2px;
  transition: 0.5s;
}

#instagram-link:after {
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
  border-width: 0 2px 2px 0;
}

@media (min-width: 768px) {
  #instagram-link:hover {
    color: #0088ff;
  }
  #instagram-link:hover:before {
    transform: translate3d(10px, 10px, 10px);
  }
  #instagram-link:hover:after {
    transform: translate3d(-10px, -10px, -10px);
  }
}

.dark-skin,
.dark-skin body {
  background-color: #1f2024;
  color: #aaaaaa;
}

.dark-skin textarea,
.dark-skin input:not([type="submit"]),
.dark-skin select {
  color: #aaaaaa;
}

.dark-skin a:not(:hover),
.dark-skin .single-big-img .post-meta,
.dark-skin .single-big-img .post-meta a:not(:hover),
.dark-skin .pages-nav .next-prev a:not(:hover),
.dark-skin .pages-nav .pages-numbers a:not(:hover),
.dark-skin .page-title,
.dark-skin .entry h1,
.dark-skin .entry h2,
.dark-skin .entry h3,
.dark-skin .entry h4,
.dark-skin .entry h5,
.dark-skin .entry h6 {
  color: #ffffff;
}

.dark-skin .post-meta,
.dark-skin .post-meta a:not(:hover),
.dark-skin .timeline-widget ul li .date,
.dark-skin .multiple-post-pages a:not(:hover),
.dark-skin .video-playlist-nav-wrapper .video-playlist-item .video-duration,
.dark-skin .login-widget .forget-text:not(:hover),
.dark-skin .autocomplete-suggestions,
.dark-skin #mobile-menu-icon:not(:hover) .menu-text,
.dark-skin .about-author .social-icons li.social-icons-item a:not(:hover) span {
  color: #aaaaaa;
}

@media (min-width: 1600px) {
  .dark-skin #story-index li a:not(.is-current) {
    color: #aaaaaa;
  }
  .dark-skin #story-index ul {
    background-color: #27292d;
  }
}

.dark-skin textarea,
.dark-skin input:not([type=submit]),
.dark-skin select,
.dark-skin code, .dark-skin kbd, .dark-skin pre, .dark-skin samp,
.dark-skin .latest-tweets-slider-widget .latest-tweets-slider .tie-slider-nav li a:not(:hover),
.dark-skin .show-more-button,
.dark-skin .pages-nav .next-prev a,
.dark-skin .pages-nav .next-prev span.pages-nav-item,
.dark-skin .pages-nav .pages-numbers a,
.dark-skin .pages-nav .pages-numbers span.pages-nav-item,
.dark-skin .pages-nav .next-prev .first-last-pages .fa,
.dark-skin .pages-nav .pages-numbers .first-last-pages .fa,
.dark-skin .multiple-post-pages span,
.dark-skin .latest-tweets-widget .slider-links .tie-slider-nav span {
  border-color: rgba(255, 255, 255, 0.1);
}

.dark-skin #tie-wrapper,
.dark-skin #theme-header {
  background-color: #27292d;
}

.dark-skin .one-column-no-sidebar .entry-header-outer {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.dark-skin .subscribe-widget .subscribe-widget-content h4:after,
.dark-skin .boxed-slider-three-slides-wrapper li:not(.slick-active) button:not(:hover),
.dark-skin .boxed-four-taller-slider li:not(.slick-active) button:not(:hover),
.dark-skin .boxed-five-slides-slider li:not(.slick-active) button:not(:hover) {
  background-color: rgba(255, 255, 255, 0.1);
}

.dark-skin .video-playlist-wrapper,
.dark-skin .tie-slider-nav span {
  background: #18191c;
}

.dark-skin .boxed-layout.wrapper-has-shadow #tie-wrapper {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}

.dark-skin .container-wrapper {
  background-color: #1f2024;
  border-color: rgba(255, 255, 255, 0.1);
}

.dark-skin .post-layout-3 .fullwidth-entry-title,
.dark-skin .post-layout-7 .fullwidth-entry-title {
  background-color: transparent;
}

.dark-skin .tie-popup-container .container-wrapper {
  background-color: #1f2024 !important;
}

.dark-skin .widget a:not(:hover),
.dark-skin .widget-title,
.dark-skin .widget-title a:not(:hover) {
  color: #ffffff;
}

.dark-skin .widget-title-icon {
  color: #aaaaaa;
}

.dark-skin .widget_product_tag_cloud a,
.dark-skin .widget_tag_cloud .tagcloud a,
.dark-skin .post-tags a,
.dark-skin .widget_layered_nav_filters a {
  border-color: rgba(255, 255, 255, 0.1);
}

.dark-skin .timeline-widget ul:before {
  background: rgba(0, 0, 0, 0.3);
}

.dark-skin .timeline-widget .date:before {
  background: #27292d;
  border-color: rgba(0, 0, 0, 0.3);
}

.dark-skin .woocommerce-tabs ul.tabs li a,
.dark-skin .tabs-menu li a {
  background: rgba(0, 0, 0, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.dark-skin .tabs-menu li.is-active a {
  background: #1f2024;
}

.dark-skin .woocommerce-tabs ul.tabs li.active a {
  background-color: #1f2024;
}

.dark-skin #wp-calendar tbody td {
  background-color: rgba(0, 0, 0, 0.1);
}

.dark-skin .subscribe-widget .subscribe-widget-content h3 {
  color: #ffffff;
}

.dark-skin .subscribe-widget .fa-envelope,
.dark-skin .subscribe-widget form:before {
  color: rgba(255, 255, 255, 0.3);
}

.dark-skin .magazine1 .entry-header-outer + .mag-box {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.dark-skin .post-layout-8 #content {
  background-color: #1f2024;
}

@media (min-width: 992px) {
  .dark-skin .post-layout-8.one-column-no-sidebar #content {
    background-color: transparent;
  }
}

.dark-skin .tie-instagram.lite-skin,
.dark-skin .tie-instagram.default-skin {
  background-color: #ffffff;
}

.dark-skin .tie-instagram.lite-skin a,
.dark-skin .tie-instagram.default-skin a {
  color: #2c2f34;
}

@media (max-width: 991px) {
  .dark-skin .post-has-toggle #the-post .entry:not(.is-expanded):before {
    background-image: linear-gradient(to bottom, transparent 50%, #1f2024 100%);
  }
  .dark-skin .magazine2.post-has-toggle #the-post .entry:not(.is-expanded):before {
    background-image: linear-gradient(to bottom, transparent 50%, #27292d 100%);
  }
}

.dark-skin .sticky {
  background: #1c1c1d;
  padding: 10px;
}

.dark-skin .entry-header .entry-title {
  color: #ffffff;
}

.dark-skin .post-footer {
  background: #1f2024;
  border-color: rgba(255, 255, 255, 0.1);
}

.dark-skin .post-footer-inner,
.dark-skin .post-footer.post-footer-on-top .post-footer-inner,
.dark-skin .comment-list li,
.dark-skin .commentlist li,
.dark-skin .entry table *,
.dark-skin .woocommerce table.shop_table tfoot * {
  border-color: rgba(255, 255, 255, 0.1);
}

.dark-skin .comment-list .comment-author img,
.dark-skin .commentlist .comment-author img {
  box-shadow: 0 0 8px #000;
  border-color: rgba(255, 255, 255, 0.1);
}

.dark-skin .post-content-slideshow,
.dark-skin .post-content-slideshow .tie-slider-nav-wrapper,
.dark-skin .post-content-slideshow .tie-slider-nav li span,
.dark-skin .divider,
.dark-skin .toggle,
.dark-skin .tabs-wrapper.tabs-vertical:after,
.dark-skin .tabs-wrapper.tabs-vertical .tabs-menu li a {
  border-color: rgba(255, 255, 255, 0.1);
}

.dark-skin .tabs-wrapper.tabs-vertical .tabs-menu li.is-active a {
  background-color: #1f2024;
}

.dark-skin .entry .tabs-wrapper.container-wrapper {
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.dark-skin #check-also-box {
  border-color: rgba(255, 255, 255, 0.1);
  background-color: #1f2024;
}

.dark-skin #footer {
  background-color: #1c1d21;
}

/*
 *  Bootstrap Grid System
 *  License - http://getbootstrap.com
*/
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid:before, .container-fluid:after {
  content: " ";
  display: table;
}

.container-fluid:after {
  clear: both;
}

.tie-row {
  margin-left: -15px;
  margin-right: -15px;
}

.tie-row:before, .tie-row:after {
  content: " ";
  display: table;
}

.tie-row:after {
  clear: both;
}

.tie-col-xs-1, .tie-col-sm-1, .tie-col-md-1, .tie-col-lg-1, .tie-col-xs-2, .tie-col-sm-2, .tie-col-md-2, .tie-col-lg-2, .tie-col-xs-3, .tie-col-sm-3, .tie-col-md-3, .tie-col-lg-3, .tie-col-xs-4, .tie-col-sm-4, .tie-col-md-4, .tie-col-lg-4, .tie-col-xs-5, .tie-col-sm-5, .tie-col-md-5, .tie-col-lg-5, .tie-col-xs-6, .tie-col-sm-6, .tie-col-md-6, .tie-col-lg-6, .tie-col-xs-7, .tie-col-sm-7, .tie-col-md-7, .tie-col-lg-7, .tie-col-xs-8, .tie-col-sm-8, .tie-col-md-8, .tie-col-lg-8, .tie-col-xs-9, .tie-col-sm-9, .tie-col-md-9, .tie-col-lg-9, .tie-col-xs-10, .tie-col-sm-10, .tie-col-md-10, .tie-col-lg-10, .tie-col-xs-11, .tie-col-sm-11, .tie-col-md-11, .tie-col-lg-11, .tie-col-xs-12, .tie-col-sm-12, .tie-col-md-12, .tie-col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.tie-col-xs-1, .tie-col-xs-2, .tie-col-xs-3, .tie-col-xs-4, .tie-col-xs-5, .tie-col-xs-6, .tie-col-xs-7, .tie-col-xs-8, .tie-col-xs-9, .tie-col-xs-10, .tie-col-xs-11, .tie-col-xs-12 {
  float: left;
}

.tie-col-xs-1 {
  width: 8.33333%;
}

.tie-col-xs-2 {
  width: 16.66667%;
}

.tie-col-xs-3 {
  width: 25%;
}

.tie-col-xs-4 {
  width: 33.33333%;
}

.tie-col-xs-5 {
  width: 41.66667%;
}

.tie-col-xs-6 {
  width: 50%;
}

.tie-col-xs-7 {
  width: 58.33333%;
}

.tie-col-xs-8 {
  width: 66.66667%;
}

.tie-col-xs-9 {
  width: 75%;
}

.tie-col-xs-10 {
  width: 83.33333%;
}

.tie-col-xs-11 {
  width: 91.66667%;
}

.tie-col-xs-12 {
  width: 100%;
}

.tie-col-xs-pull-0 {
  right: auto;
}

.tie-col-xs-pull-1 {
  right: 8.33333%;
}

.tie-col-xs-pull-2 {
  right: 16.66667%;
}

.tie-col-xs-pull-3 {
  right: 25%;
}

.tie-col-xs-pull-4 {
  right: 33.33333%;
}

.tie-col-xs-pull-5 {
  right: 41.66667%;
}

.tie-col-xs-pull-6 {
  right: 50%;
}

.tie-col-xs-pull-7 {
  right: 58.33333%;
}

.tie-col-xs-pull-8 {
  right: 66.66667%;
}

.tie-col-xs-pull-9 {
  right: 75%;
}

.tie-col-xs-pull-10 {
  right: 83.33333%;
}

.tie-col-xs-pull-11 {
  right: 91.66667%;
}

.tie-col-xs-pull-12 {
  right: 100%;
}

.tie-col-xs-push-0 {
  left: auto;
}

.tie-col-xs-push-1 {
  left: 8.33333%;
}

.tie-col-xs-push-2 {
  left: 16.66667%;
}

.tie-col-xs-push-3 {
  left: 25%;
}

.tie-col-xs-push-4 {
  left: 33.33333%;
}

.tie-col-xs-push-5 {
  left: 41.66667%;
}

.tie-col-xs-push-6 {
  left: 50%;
}

.tie-col-xs-push-7 {
  left: 58.33333%;
}

.tie-col-xs-push-8 {
  left: 66.66667%;
}

.tie-col-xs-push-9 {
  left: 75%;
}

.tie-col-xs-push-10 {
  left: 83.33333%;
}

.tie-col-xs-push-11 {
  left: 91.66667%;
}

.tie-col-xs-push-12 {
  left: 100%;
}

.tie-col-xs-offset-0 {
  margin-left: 0%;
}

.tie-col-xs-offset-1 {
  margin-left: 8.33333%;
}

.tie-col-xs-offset-2 {
  margin-left: 16.66667%;
}

.tie-col-xs-offset-3 {
  margin-left: 25%;
}

.tie-col-xs-offset-4 {
  margin-left: 33.33333%;
}

.tie-col-xs-offset-5 {
  margin-left: 41.66667%;
}

.tie-col-xs-offset-6 {
  margin-left: 50%;
}

.tie-col-xs-offset-7 {
  margin-left: 58.33333%;
}

.tie-col-xs-offset-8 {
  margin-left: 66.66667%;
}

.tie-col-xs-offset-9 {
  margin-left: 75%;
}

.tie-col-xs-offset-10 {
  margin-left: 83.33333%;
}

.tie-col-xs-offset-11 {
  margin-left: 91.66667%;
}

.tie-col-xs-offset-12 {
  margin-left: 100%;
}

@media (min-width: 768px) {
  .tie-col-sm-1, .tie-col-sm-2, .tie-col-sm-3, .tie-col-sm-4, .tie-col-sm-5, .tie-col-sm-6, .tie-col-sm-7, .tie-col-sm-8, .tie-col-sm-9, .tie-col-sm-10, .tie-col-sm-11, .tie-col-sm-12 {
    float: left;
  }
  .tie-col-sm-1 {
    width: 8.33333%;
  }
  .tie-col-sm-2 {
    width: 16.66667%;
  }
  .tie-col-sm-3 {
    width: 25%;
  }
  .tie-col-sm-4 {
    width: 33.33333%;
  }
  .tie-col-sm-5 {
    width: 41.66667%;
  }
  .tie-col-sm-6 {
    width: 50%;
  }
  .tie-col-sm-7 {
    width: 58.33333%;
  }
  .tie-col-sm-8 {
    width: 66.66667%;
  }
  .tie-col-sm-9 {
    width: 75%;
  }
  .tie-col-sm-10 {
    width: 83.33333%;
  }
  .tie-col-sm-11 {
    width: 91.66667%;
  }
  .tie-col-sm-12 {
    width: 100%;
  }
  .tie-col-sm-pull-0 {
    right: auto;
  }
  .tie-col-sm-pull-1 {
    right: 8.33333%;
  }
  .tie-col-sm-pull-2 {
    right: 16.66667%;
  }
  .tie-col-sm-pull-3 {
    right: 25%;
  }
  .tie-col-sm-pull-4 {
    right: 33.33333%;
  }
  .tie-col-sm-pull-5 {
    right: 41.66667%;
  }
  .tie-col-sm-pull-6 {
    right: 50%;
  }
  .tie-col-sm-pull-7 {
    right: 58.33333%;
  }
  .tie-col-sm-pull-8 {
    right: 66.66667%;
  }
  .tie-col-sm-pull-9 {
    right: 75%;
  }
  .tie-col-sm-pull-10 {
    right: 83.33333%;
  }
  .tie-col-sm-pull-11 {
    right: 91.66667%;
  }
  .tie-col-sm-pull-12 {
    right: 100%;
  }
  .tie-col-sm-push-0 {
    left: auto;
  }
  .tie-col-sm-push-1 {
    left: 8.33333%;
  }
  .tie-col-sm-push-2 {
    left: 16.66667%;
  }
  .tie-col-sm-push-3 {
    left: 25%;
  }
  .tie-col-sm-push-4 {
    left: 33.33333%;
  }
  .tie-col-sm-push-5 {
    left: 41.66667%;
  }
  .tie-col-sm-push-6 {
    left: 50%;
  }
  .tie-col-sm-push-7 {
    left: 58.33333%;
  }
  .tie-col-sm-push-8 {
    left: 66.66667%;
  }
  .tie-col-sm-push-9 {
    left: 75%;
  }
  .tie-col-sm-push-10 {
    left: 83.33333%;
  }
  .tie-col-sm-push-11 {
    left: 91.66667%;
  }
  .tie-col-sm-push-12 {
    left: 100%;
  }
  .tie-col-sm-offset-0 {
    margin-left: 0%;
  }
  .tie-col-sm-offset-1 {
    margin-left: 8.33333%;
  }
  .tie-col-sm-offset-2 {
    margin-left: 16.66667%;
  }
  .tie-col-sm-offset-3 {
    margin-left: 25%;
  }
  .tie-col-sm-offset-4 {
    margin-left: 33.33333%;
  }
  .tie-col-sm-offset-5 {
    margin-left: 41.66667%;
  }
  .tie-col-sm-offset-6 {
    margin-left: 50%;
  }
  .tie-col-sm-offset-7 {
    margin-left: 58.33333%;
  }
  .tie-col-sm-offset-8 {
    margin-left: 66.66667%;
  }
  .tie-col-sm-offset-9 {
    margin-left: 75%;
  }
  .tie-col-sm-offset-10 {
    margin-left: 83.33333%;
  }
  .tie-col-sm-offset-11 {
    margin-left: 91.66667%;
  }
  .tie-col-sm-offset-12 {
    margin-left: 100%;
  }
}

@media (min-width: 992px) {
  .tie-col-md-1, .tie-col-md-2, .tie-col-md-3, .tie-col-md-4, .tie-col-md-5, .tie-col-md-6, .tie-col-md-7, .tie-col-md-8, .tie-col-md-9, .tie-col-md-10, .tie-col-md-11, .tie-col-md-12 {
    float: left;
  }
  .tie-col-md-1 {
    width: 8.33333%;
  }
  .tie-col-md-2 {
    width: 16.66667%;
  }
  .tie-col-md-3 {
    width: 25%;
  }
  .tie-col-md-4 {
    width: 33.33333%;
  }
  .tie-col-md-5 {
    width: 41.66667%;
  }
  .tie-col-md-6 {
    width: 50%;
  }
  .tie-col-md-7 {
    width: 58.33333%;
  }
  .tie-col-md-8 {
    width: 66.66667%;
  }
  .tie-col-md-9 {
    width: 75%;
  }
  .tie-col-md-10 {
    width: 83.33333%;
  }
  .tie-col-md-11 {
    width: 91.66667%;
  }
  .tie-col-md-12 {
    width: 100%;
  }
  .tie-col-md-pull-0 {
    right: auto;
  }
  .tie-col-md-pull-1 {
    right: 8.33333%;
  }
  .tie-col-md-pull-2 {
    right: 16.66667%;
  }
  .tie-col-md-pull-3 {
    right: 25%;
  }
  .tie-col-md-pull-4 {
    right: 33.33333%;
  }
  .tie-col-md-pull-5 {
    right: 41.66667%;
  }
  .tie-col-md-pull-6 {
    right: 50%;
  }
  .tie-col-md-pull-7 {
    right: 58.33333%;
  }
  .tie-col-md-pull-8 {
    right: 66.66667%;
  }
  .tie-col-md-pull-9 {
    right: 75%;
  }
  .tie-col-md-pull-10 {
    right: 83.33333%;
  }
  .tie-col-md-pull-11 {
    right: 91.66667%;
  }
  .tie-col-md-pull-12 {
    right: 100%;
  }
  .tie-col-md-push-0 {
    left: auto;
  }
  .tie-col-md-push-1 {
    left: 8.33333%;
  }
  .tie-col-md-push-2 {
    left: 16.66667%;
  }
  .tie-col-md-push-3 {
    left: 25%;
  }
  .tie-col-md-push-4 {
    left: 33.33333%;
  }
  .tie-col-md-push-5 {
    left: 41.66667%;
  }
  .tie-col-md-push-6 {
    left: 50%;
  }
  .tie-col-md-push-7 {
    left: 58.33333%;
  }
  .tie-col-md-push-8 {
    left: 66.66667%;
  }
  .tie-col-md-push-9 {
    left: 75%;
  }
  .tie-col-md-push-10 {
    left: 83.33333%;
  }
  .tie-col-md-push-11 {
    left: 91.66667%;
  }
  .tie-col-md-push-12 {
    left: 100%;
  }
  .tie-col-md-offset-0 {
    margin-left: 0%;
  }
  .tie-col-md-offset-1 {
    margin-left: 8.33333%;
  }
  .tie-col-md-offset-2 {
    margin-left: 16.66667%;
  }
  .tie-col-md-offset-3 {
    margin-left: 25%;
  }
  .tie-col-md-offset-4 {
    margin-left: 33.33333%;
  }
  .tie-col-md-offset-5 {
    margin-left: 41.66667%;
  }
  .tie-col-md-offset-6 {
    margin-left: 50%;
  }
  .tie-col-md-offset-7 {
    margin-left: 58.33333%;
  }
  .tie-col-md-offset-8 {
    margin-left: 66.66667%;
  }
  .tie-col-md-offset-9 {
    margin-left: 75%;
  }
  .tie-col-md-offset-10 {
    margin-left: 83.33333%;
  }
  .tie-col-md-offset-11 {
    margin-left: 91.66667%;
  }
  .tie-col-md-offset-12 {
    margin-left: 100%;
  }
}

@media (min-width: 1200px) {
  .tie-col-lg-1, .tie-col-lg-2, .tie-col-lg-3, .tie-col-lg-4, .tie-col-lg-5, .tie-col-lg-6, .tie-col-lg-7, .tie-col-lg-8, .tie-col-lg-9, .tie-col-lg-10, .tie-col-lg-11, .tie-col-lg-12 {
    float: left;
  }
  .tie-col-lg-1 {
    width: 8.33333%;
  }
  .tie-col-lg-2 {
    width: 16.66667%;
  }
  .tie-col-lg-3 {
    width: 25%;
  }
  .tie-col-lg-4 {
    width: 33.33333%;
  }
  .tie-col-lg-5 {
    width: 41.66667%;
  }
  .tie-col-lg-6 {
    width: 50%;
  }
  .tie-col-lg-7 {
    width: 58.33333%;
  }
  .tie-col-lg-8 {
    width: 66.66667%;
  }
  .tie-col-lg-9 {
    width: 75%;
  }
  .tie-col-lg-10 {
    width: 83.33333%;
  }
  .tie-col-lg-11 {
    width: 91.66667%;
  }
  .tie-col-lg-12 {
    width: 100%;
  }
  .tie-col-lg-pull-0 {
    right: auto;
  }
  .tie-col-lg-pull-1 {
    right: 8.33333%;
  }
  .tie-col-lg-pull-2 {
    right: 16.66667%;
  }
  .tie-col-lg-pull-3 {
    right: 25%;
  }
  .tie-col-lg-pull-4 {
    right: 33.33333%;
  }
  .tie-col-lg-pull-5 {
    right: 41.66667%;
  }
  .tie-col-lg-pull-6 {
    right: 50%;
  }
  .tie-col-lg-pull-7 {
    right: 58.33333%;
  }
  .tie-col-lg-pull-8 {
    right: 66.66667%;
  }
  .tie-col-lg-pull-9 {
    right: 75%;
  }
  .tie-col-lg-pull-10 {
    right: 83.33333%;
  }
  .tie-col-lg-pull-11 {
    right: 91.66667%;
  }
  .tie-col-lg-pull-12 {
    right: 100%;
  }
  .tie-col-lg-push-0 {
    left: auto;
  }
  .tie-col-lg-push-1 {
    left: 8.33333%;
  }
  .tie-col-lg-push-2 {
    left: 16.66667%;
  }
  .tie-col-lg-push-3 {
    left: 25%;
  }
  .tie-col-lg-push-4 {
    left: 33.33333%;
  }
  .tie-col-lg-push-5 {
    left: 41.66667%;
  }
  .tie-col-lg-push-6 {
    left: 50%;
  }
  .tie-col-lg-push-7 {
    left: 58.33333%;
  }
  .tie-col-lg-push-8 {
    left: 66.66667%;
  }
  .tie-col-lg-push-9 {
    left: 75%;
  }
  .tie-col-lg-push-10 {
    left: 83.33333%;
  }
  .tie-col-lg-push-11 {
    left: 91.66667%;
  }
  .tie-col-lg-push-12 {
    left: 100%;
  }
  .tie-col-lg-offset-0 {
    margin-left: 0%;
  }
  .tie-col-lg-offset-1 {
    margin-left: 8.33333%;
  }
  .tie-col-lg-offset-2 {
    margin-left: 16.66667%;
  }
  .tie-col-lg-offset-3 {
    margin-left: 25%;
  }
  .tie-col-lg-offset-4 {
    margin-left: 33.33333%;
  }
  .tie-col-lg-offset-5 {
    margin-left: 41.66667%;
  }
  .tie-col-lg-offset-6 {
    margin-left: 50%;
  }
  .tie-col-lg-offset-7 {
    margin-left: 58.33333%;
  }
  .tie-col-lg-offset-8 {
    margin-left: 66.66667%;
  }
  .tie-col-lg-offset-9 {
    margin-left: 75%;
  }
  .tie-col-lg-offset-10 {
    margin-left: 83.33333%;
  }
  .tie-col-lg-offset-11 {
    margin-left: 91.66667%;
  }
  .tie-col-lg-offset-12 {
    margin-left: 100%;
  }
}

/*
 *  Font Awesome 4.7 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.7") format("embedded-opentype"), url("../fonts/fontawesome/fontawesome-webfont.woff2") format("woff2"), url("../fonts/fontawesome/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome/fontawesome-webfont.svg#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-lg {
  font-size: 1.33333333em;
  line-height: .75em;
  vertical-align: -15%;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.fa-fw {
  width: 1.28571429em;
  text-align: center;
}

.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}

.fa-ul > li {
  position: relative;
}

.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: .14285714em;
  text-align: center;
}

.fa-li.fa-lg {
  left: -1.85714286em;
}

.fa-border {
  padding: .2em .25em .15em;
  border: solid .08em #eee;
  border-radius: .1em;
}

.fa-pull-left {
  float: left;
}

.fa-pull-right {
  float: right;
}

.fa.fa-pull-left {
  margin-right: .3em;
}

.fa.fa-pull-right {
  margin-left: .3em;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.fa.pull-left {
  margin-right: .3em;
}

.fa.pull-right {
  margin-left: .3em;
}

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

:root .fa-rotate-90, :root .fa-rotate-180, :root .fa-rotate-270, :root .fa-flip-horizontal, :root .fa-flip-vertical {
  filter: none;
}

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.fa-stack-1x {
  line-height: inherit;
}

.fa-stack-2x {
  font-size: 2em;
}

.fa-inverse {
  color: #fff;
}

.fa-glass:before {
  content: "\f000";
}

.fa-music:before {
  content: "\f001";
}

.fa-search:before {
  content: "\f002";
}

.fa-envelope-o:before {
  content: "\f003";
}

.fa-heart:before {
  content: "\f004";
}

.fa-star:before {
  content: "\f005";
}

.fa-star-o:before {
  content: "\f006";
}

.fa-user:before {
  content: "\f007";
}

.fa-film:before {
  content: "\f008";
}

.fa-th-large:before {
  content: "\f009";
}

.fa-th:before {
  content: "\f00a";
}

.fa-th-list:before {
  content: "\f00b";
}

.fa-check:before {
  content: "\f00c";
}

.fa-remove:before, .fa-close:before, .fa-times:before {
  content: "\f00d";
}

.fa-search-plus:before {
  content: "\f00e";
}

.fa-search-minus:before {
  content: "\f010";
}

.fa-power-off:before {
  content: "\f011";
}

.fa-signal:before {
  content: "\f012";
}

.fa-gear:before, .fa-cog:before {
  content: "\f013";
}

.fa-trash-o:before {
  content: "\f014";
}

.fa-home:before {
  content: "\f015";
}

.fa-file-o:before {
  content: "\f016";
}

.fa-clock-o:before {
  content: "\f017";
}

.fa-road:before {
  content: "\f018";
}

.fa-download:before {
  content: "\f019";
}

.fa-arrow-circle-o-down:before {
  content: "\f01a";
}

.fa-arrow-circle-o-up:before {
  content: "\f01b";
}

.fa-inbox:before {
  content: "\f01c";
}

.fa-play-circle-o:before {
  content: "\f01d";
}

.fa-rotate-right:before, .fa-repeat:before {
  content: "\f01e";
}

.fa-refresh:before {
  content: "\f021";
}

.fa-list-alt:before {
  content: "\f022";
}

.fa-lock:before {
  content: "\f023";
}

.fa-flag:before {
  content: "\f024";
}

.fa-headphones:before {
  content: "\f025";
}

.fa-volume-off:before {
  content: "\f026";
}

.fa-volume-down:before {
  content: "\f027";
}

.fa-volume-up:before {
  content: "\f028";
}

.fa-qrcode:before {
  content: "\f029";
}

.fa-barcode:before {
  content: "\f02a";
}

.fa-tag:before {
  content: "\f02b";
}

.fa-tags:before {
  content: "\f02c";
}

.fa-book:before {
  content: "\f02d";
}

.fa-bookmark:before {
  content: "\f02e";
}

.fa-print:before {
  content: "\f02f";
}

.fa-camera:before {
  content: "\f030";
}

.fa-font:before {
  content: "\f031";
}

.fa-bold:before {
  content: "\f032";
}

.fa-italic:before {
  content: "\f033";
}

.fa-text-height:before {
  content: "\f034";
}

.fa-text-width:before {
  content: "\f035";
}

.fa-align-left:before {
  content: "\f036";
}

.fa-align-center:before {
  content: "\f037";
}

.fa-align-right:before {
  content: "\f038";
}

.fa-align-justify:before {
  content: "\f039";
}

.fa-list:before {
  content: "\f03a";
}

.fa-dedent:before, .fa-outdent:before {
  content: "\f03b";
}

.fa-indent:before {
  content: "\f03c";
}

.fa-video-camera:before {
  content: "\f03d";
}

.fa-photo:before, .fa-image:before, .fa-picture-o:before {
  content: "\f03e";
}

.fa-pencil:before {
  content: "\f040";
}

.fa-map-marker:before {
  content: "\f041";
}

.fa-adjust:before {
  content: "\f042";
}

.fa-tint:before {
  content: "\f043";
}

.fa-edit:before, .fa-pencil-square-o:before {
  content: "\f044";
}

.fa-share-square-o:before {
  content: "\f045";
}

.fa-check-square-o:before {
  content: "\f046";
}

.fa-arrows:before {
  content: "\f047";
}

.fa-step-backward:before {
  content: "\f048";
}

.fa-fast-backward:before {
  content: "\f049";
}

.fa-backward:before {
  content: "\f04a";
}

.fa-play:before {
  content: "\f04b";
}

.fa-pause:before {
  content: "\f04c";
}

.fa-stop:before {
  content: "\f04d";
}

.fa-forward:before {
  content: "\f04e";
}

.fa-fast-forward:before {
  content: "\f050";
}

.fa-step-forward:before {
  content: "\f051";
}

.fa-eject:before {
  content: "\f052";
}

.fa-chevron-left:before {
  content: "\f053";
}

.fa-chevron-right:before {
  content: "\f054";
}

.fa-plus-circle:before {
  content: "\f055";
}

.fa-minus-circle:before {
  content: "\f056";
}

.fa-times-circle:before {
  content: "\f057";
}

.fa-check-circle:before {
  content: "\f058";
}

.fa-question-circle:before {
  content: "\f059";
}

.fa-info-circle:before {
  content: "\f05a";
}

.fa-crosshairs:before {
  content: "\f05b";
}

.fa-times-circle-o:before {
  content: "\f05c";
}

.fa-check-circle-o:before {
  content: "\f05d";
}

.fa-ban:before {
  content: "\f05e";
}

.fa-arrow-left:before {
  content: "\f060";
}

.fa-arrow-right:before {
  content: "\f061";
}

.fa-arrow-up:before {
  content: "\f062";
}

.fa-arrow-down:before {
  content: "\f063";
}

.fa-mail-forward:before, .fa-share:before {
  content: "\f064";
}

.fa-expand:before {
  content: "\f065";
}

.fa-compress:before {
  content: "\f066";
}

.fa-plus:before {
  content: "\f067";
}

.fa-minus:before {
  content: "\f068";
}

.fa-asterisk:before {
  content: "\f069";
}

.fa-exclamation-circle:before {
  content: "\f06a";
}

.fa-gift:before {
  content: "\f06b";
}

.fa-leaf:before {
  content: "\f06c";
}

.fa-fire:before {
  content: "\f06d";
}

.fa-eye:before {
  content: "\f06e";
}

.fa-eye-slash:before {
  content: "\f070";
}

.fa-warning:before, .fa-exclamation-triangle:before {
  content: "\f071";
}

.fa-plane:before {
  content: "\f072";
}

.fa-calendar:before {
  content: "\f073";
}

.fa-random:before {
  content: "\f074";
}

.fa-comment:before {
  content: "\f075";
}

.fa-magnet:before {
  content: "\f076";
}

.fa-chevron-up:before {
  content: "\f077";
}

.fa-chevron-down:before {
  content: "\f078";
}

.fa-retweet:before {
  content: "\f079";
}

.fa-shopping-cart:before {
  content: "\f07a";
}

.fa-folder:before {
  content: "\f07b";
}

.fa-folder-open:before {
  content: "\f07c";
}

.fa-arrows-v:before {
  content: "\f07d";
}

.fa-arrows-h:before {
  content: "\f07e";
}

.fa-bar-chart-o:before, .fa-bar-chart:before {
  content: "\f080";
}

.fa-twitter-square:before {
  content: "\f081";
}

.fa-facebook-square:before {
  content: "\f082";
}

.fa-camera-retro:before {
  content: "\f083";
}

.fa-key:before {
  content: "\f084";
}

.fa-gears:before, .fa-cogs:before {
  content: "\f085";
}

.fa-comments:before {
  content: "\f086";
}

.fa-thumbs-o-up:before {
  content: "\f087";
}

.fa-thumbs-o-down:before {
  content: "\f088";
}

.fa-star-half:before {
  content: "\f089";
}

.fa-heart-o:before {
  content: "\f08a";
}

.fa-sign-out:before {
  content: "\f08b";
}

.fa-linkedin-square:before {
  content: "\f08c";
}

.fa-thumb-tack:before {
  content: "\f08d";
}

.fa-external-link:before {
  content: "\f08e";
}

.fa-sign-in:before {
  content: "\f090";
}

.fa-trophy:before {
  content: "\f091";
}

.fa-github-square:before {
  content: "\f092";
}

.fa-upload:before {
  content: "\f093";
}

.fa-lemon-o:before {
  content: "\f094";
}

.fa-phone:before {
  content: "\f095";
}

.fa-square-o:before {
  content: "\f096";
}

.fa-bookmark-o:before {
  content: "\f097";
}

.fa-phone-square:before {
  content: "\f098";
}

.fa-twitter:before {
  content: "\f099";
}

.fa-facebook-f:before, .fa-facebook:before {
  content: "\f09a";
}

.fa-github:before {
  content: "\f09b";
}

.fa-unlock:before {
  content: "\f09c";
}

.fa-credit-card:before {
  content: "\f09d";
}

.fa-feed:before, .fa-rss:before {
  content: "\f09e";
}

.fa-hdd-o:before {
  content: "\f0a0";
}

.fa-bullhorn:before {
  content: "\f0a1";
}

.fa-bell:before {
  content: "\f0f3";
}

.fa-certificate:before {
  content: "\f0a3";
}

.fa-hand-o-right:before {
  content: "\f0a4";
}

.fa-hand-o-left:before {
  content: "\f0a5";
}

.fa-hand-o-up:before {
  content: "\f0a6";
}

.fa-hand-o-down:before {
  content: "\f0a7";
}

.fa-arrow-circle-left:before {
  content: "\f0a8";
}

.fa-arrow-circle-right:before {
  content: "\f0a9";
}

.fa-arrow-circle-up:before {
  content: "\f0aa";
}

.fa-arrow-circle-down:before {
  content: "\f0ab";
}

.fa-globe:before {
  content: "\f0ac";
}

.fa-wrench:before {
  content: "\f0ad";
}

.fa-tasks:before {
  content: "\f0ae";
}

.fa-filter:before {
  content: "\f0b0";
}

.fa-briefcase:before {
  content: "\f0b1";
}

.fa-arrows-alt:before {
  content: "\f0b2";
}

.fa-group:before, .fa-users:before {
  content: "\f0c0";
}

.fa-chain:before, .fa-link:before {
  content: "\f0c1";
}

.fa-cloud:before {
  content: "\f0c2";
}

.fa-flask:before {
  content: "\f0c3";
}

.fa-cut:before, .fa-scissors:before {
  content: "\f0c4";
}

.fa-copy:before, .fa-files-o:before {
  content: "\f0c5";
}

.fa-paperclip:before {
  content: "\f0c6";
}

.fa-save:before, .fa-floppy-o:before {
  content: "\f0c7";
}

.fa-square:before {
  content: "\f0c8";
}

.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
  content: "\f0c9";
}

.fa-list-ul:before {
  content: "\f0ca";
}

.fa-list-ol:before {
  content: "\f0cb";
}

.fa-strikethrough:before {
  content: "\f0cc";
}

.fa-underline:before {
  content: "\f0cd";
}

.fa-table:before {
  content: "\f0ce";
}

.fa-magic:before {
  content: "\f0d0";
}

.fa-truck:before {
  content: "\f0d1";
}

.fa-pinterest:before {
  content: "\f0d2";
}

.fa-pinterest-square:before {
  content: "\f0d3";
}

.fa-google-plus-square:before {
  content: "\f0d4";
}

.fa-google-plus:before {
  content: "\f0d5";
}

.fa-money:before {
  content: "\f0d6";
}

.fa-caret-down:before {
  content: "\f0d7";
}

.fa-caret-up:before {
  content: "\f0d8";
}

.fa-caret-left:before {
  content: "\f0d9";
}

.fa-caret-right:before {
  content: "\f0da";
}

.fa-columns:before {
  content: "\f0db";
}

.fa-unsorted:before, .fa-sort:before {
  content: "\f0dc";
}

.fa-sort-down:before, .fa-sort-desc:before {
  content: "\f0dd";
}

.fa-sort-up:before, .fa-sort-asc:before {
  content: "\f0de";
}

.fa-envelope:before {
  content: "\f0e0";
}

.fa-linkedin:before {
  content: "\f0e1";
}

.fa-rotate-left:before, .fa-undo:before {
  content: "\f0e2";
}

.fa-legal:before, .fa-gavel:before {
  content: "\f0e3";
}

.fa-dashboard:before, .fa-tachometer:before {
  content: "\f0e4";
}

.fa-comment-o:before {
  content: "\f0e5";
}

.fa-comments-o:before {
  content: "\f0e6";
}

.fa-flash:before, .fa-bolt:before {
  content: "\f0e7";
}

.fa-sitemap:before {
  content: "\f0e8";
}

.fa-umbrella:before {
  content: "\f0e9";
}

.fa-paste:before, .fa-clipboard:before {
  content: "\f0ea";
}

.fa-lightbulb-o:before {
  content: "\f0eb";
}

.fa-exchange:before {
  content: "\f0ec";
}

.fa-cloud-download:before {
  content: "\f0ed";
}

.fa-cloud-upload:before {
  content: "\f0ee";
}

.fa-user-md:before {
  content: "\f0f0";
}

.fa-stethoscope:before {
  content: "\f0f1";
}

.fa-suitcase:before {
  content: "\f0f2";
}

.fa-bell-o:before {
  content: "\f0a2";
}

.fa-coffee:before {
  content: "\f0f4";
}

.fa-cutlery:before {
  content: "\f0f5";
}

.fa-file-text-o:before {
  content: "\f0f6";
}

.fa-building-o:before {
  content: "\f0f7";
}

.fa-hospital-o:before {
  content: "\f0f8";
}

.fa-ambulance:before {
  content: "\f0f9";
}

.fa-medkit:before {
  content: "\f0fa";
}

.fa-fighter-jet:before {
  content: "\f0fb";
}

.fa-beer:before {
  content: "\f0fc";
}

.fa-h-square:before {
  content: "\f0fd";
}

.fa-plus-square:before {
  content: "\f0fe";
}

.fa-angle-double-left:before {
  content: "\f100";
}

.fa-angle-double-right:before {
  content: "\f101";
}

.fa-angle-double-up:before {
  content: "\f102";
}

.fa-angle-double-down:before {
  content: "\f103";
}

.fa-angle-left:before {
  content: "\f104";
}

.fa-angle-right:before {
  content: "\f105";
}

.fa-angle-up:before {
  content: "\f106";
}

.fa-angle-down:before {
  content: "\f107";
}

.fa-desktop:before {
  content: "\f108";
}

.fa-laptop:before {
  content: "\f109";
}

.fa-tablet:before {
  content: "\f10a";
}

.fa-mobile-phone:before, .fa-mobile:before {
  content: "\f10b";
}

.fa-circle-o:before {
  content: "\f10c";
}

.fa-quote-left:before {
  content: "\f10d";
}

.fa-quote-right:before {
  content: "\f10e";
}

.fa-spinner:before {
  content: "\f110";
}

.fa-circle:before {
  content: "\f111";
}

.fa-mail-reply:before, .fa-reply:before {
  content: "\f112";
}

.fa-github-alt:before {
  content: "\f113";
}

.fa-folder-o:before {
  content: "\f114";
}

.fa-folder-open-o:before {
  content: "\f115";
}

.fa-smile-o:before {
  content: "\f118";
}

.fa-frown-o:before {
  content: "\f119";
}

.fa-meh-o:before {
  content: "\f11a";
}

.fa-gamepad:before {
  content: "\f11b";
}

.fa-keyboard-o:before {
  content: "\f11c";
}

.fa-flag-o:before {
  content: "\f11d";
}

.fa-flag-checkered:before {
  content: "\f11e";
}

.fa-terminal:before {
  content: "\f120";
}

.fa-code:before {
  content: "\f121";
}

.fa-mail-reply-all:before, .fa-reply-all:before {
  content: "\f122";
}

.fa-star-half-empty:before, .fa-star-half-full:before, .fa-star-half-o:before {
  content: "\f123";
}

.fa-location-arrow:before {
  content: "\f124";
}

.fa-crop:before {
  content: "\f125";
}

.fa-code-fork:before {
  content: "\f126";
}

.fa-unlink:before, .fa-chain-broken:before {
  content: "\f127";
}

.fa-question:before {
  content: "\f128";
}

.fa-info:before {
  content: "\f129";
}

.fa-exclamation:before {
  content: "\f12a";
}

.fa-superscript:before {
  content: "\f12b";
}

.fa-subscript:before {
  content: "\f12c";
}

.fa-eraser:before {
  content: "\f12d";
}

.fa-puzzle-piece:before {
  content: "\f12e";
}

.fa-microphone:before {
  content: "\f130";
}

.fa-microphone-slash:before {
  content: "\f131";
}

.fa-shield:before {
  content: "\f132";
}

.fa-calendar-o:before {
  content: "\f133";
}

.fa-fire-extinguisher:before {
  content: "\f134";
}

.fa-rocket:before {
  content: "\f135";
}

.fa-maxcdn:before {
  content: "\f136";
}

.fa-chevron-circle-left:before {
  content: "\f137";
}

.fa-chevron-circle-right:before {
  content: "\f138";
}

.fa-chevron-circle-up:before {
  content: "\f139";
}

.fa-chevron-circle-down:before {
  content: "\f13a";
}

.fa-html5:before {
  content: "\f13b";
}

.fa-css3:before {
  content: "\f13c";
}

.fa-anchor:before {
  content: "\f13d";
}

.fa-unlock-alt:before {
  content: "\f13e";
}

.fa-bullseye:before {
  content: "\f140";
}

.fa-ellipsis-h:before {
  content: "\f141";
}

.fa-ellipsis-v:before {
  content: "\f142";
}

.fa-rss-square:before {
  content: "\f143";
}

.fa-play-circle:before {
  content: "\f144";
}

.fa-ticket:before {
  content: "\f145";
}

.fa-minus-square:before {
  content: "\f146";
}

.fa-minus-square-o:before {
  content: "\f147";
}

.fa-level-up:before {
  content: "\f148";
}

.fa-level-down:before {
  content: "\f149";
}

.fa-check-square:before {
  content: "\f14a";
}

.fa-pencil-square:before {
  content: "\f14b";
}

.fa-external-link-square:before {
  content: "\f14c";
}

.fa-share-square:before {
  content: "\f14d";
}

.fa-compass:before {
  content: "\f14e";
}

.fa-toggle-down:before, .fa-caret-square-o-down:before {
  content: "\f150";
}

.fa-toggle-up:before, .fa-caret-square-o-up:before {
  content: "\f151";
}

.fa-toggle-right:before, .fa-caret-square-o-right:before {
  content: "\f152";
}

.fa-euro:before, .fa-eur:before {
  content: "\f153";
}

.fa-gbp:before {
  content: "\f154";
}

.fa-dollar:before, .fa-usd:before {
  content: "\f155";
}

.fa-rupee:before, .fa-inr:before {
  content: "\f156";
}

.fa-cny:before, .fa-rmb:before, .fa-yen:before, .fa-jpy:before {
  content: "\f157";
}

.fa-ruble:before, .fa-rouble:before, .fa-rub:before {
  content: "\f158";
}

.fa-won:before, .fa-krw:before {
  content: "\f159";
}

.fa-bitcoin:before, .fa-btc:before {
  content: "\f15a";
}

.fa-file:before {
  content: "\f15b";
}

.fa-file-text:before {
  content: "\f15c";
}

.fa-sort-alpha-asc:before {
  content: "\f15d";
}

.fa-sort-alpha-desc:before {
  content: "\f15e";
}

.fa-sort-amount-asc:before {
  content: "\f160";
}

.fa-sort-amount-desc:before {
  content: "\f161";
}

.fa-sort-numeric-asc:before {
  content: "\f162";
}

.fa-sort-numeric-desc:before {
  content: "\f163";
}

.fa-thumbs-up:before {
  content: "\f164";
}

.fa-thumbs-down:before {
  content: "\f165";
}

.fa-youtube-square:before {
  content: "\f166";
}

.fa-youtube:before {
  content: "\f167";
}

.fa-xing:before {
  content: "\f168";
}

.fa-xing-square:before {
  content: "\f169";
}

.fa-youtube-play:before {
  content: "\f16a";
}

.fa-dropbox:before {
  content: "\f16b";
}

.fa-stack-overflow:before {
  content: "\f16c";
}

.fa-instagram:before {
  content: "\f16d";
}

.fa-flickr:before {
  content: "\f16e";
}

.fa-adn:before {
  content: "\f170";
}

.fa-bitbucket:before {
  content: "\f171";
}

.fa-bitbucket-square:before {
  content: "\f172";
}

.fa-tumblr:before {
  content: "\f173";
}

.fa-tumblr-square:before {
  content: "\f174";
}

.fa-long-arrow-down:before {
  content: "\f175";
}

.fa-long-arrow-up:before {
  content: "\f176";
}

.fa-long-arrow-left:before {
  content: "\f177";
}

.fa-long-arrow-right:before {
  content: "\f178";
}

.fa-apple:before {
  content: "\f179";
}

.fa-windows:before {
  content: "\f17a";
}

.fa-android:before {
  content: "\f17b";
}

.fa-linux:before {
  content: "\f17c";
}

.fa-dribbble:before {
  content: "\f17d";
}

.fa-skype:before {
  content: "\f17e";
}

.fa-foursquare:before {
  content: "\f180";
}

.fa-trello:before {
  content: "\f181";
}

.fa-female:before {
  content: "\f182";
}

.fa-male:before {
  content: "\f183";
}

.fa-gittip:before, .fa-gratipay:before {
  content: "\f184";
}

.fa-sun-o:before {
  content: "\f185";
}

.fa-moon-o:before {
  content: "\f186";
}

.fa-archive:before {
  content: "\f187";
}

.fa-bug:before {
  content: "\f188";
}

.fa-vk:before {
  content: "\f189";
}

.fa-weibo:before {
  content: "\f18a";
}

.fa-renren:before {
  content: "\f18b";
}

.fa-pagelines:before {
  content: "\f18c";
}

.fa-stack-exchange:before {
  content: "\f18d";
}

.fa-arrow-circle-o-right:before {
  content: "\f18e";
}

.fa-arrow-circle-o-left:before {
  content: "\f190";
}

.fa-toggle-left:before, .fa-caret-square-o-left:before {
  content: "\f191";
}

.fa-dot-circle-o:before {
  content: "\f192";
}

.fa-wheelchair:before {
  content: "\f193";
}

.fa-vimeo-square:before {
  content: "\f194";
}

.fa-turkish-lira:before, .fa-try:before {
  content: "\f195";
}

.fa-plus-square-o:before {
  content: "\f196";
}

.fa-space-shuttle:before {
  content: "\f197";
}

.fa-slack:before {
  content: "\f198";
}

.fa-envelope-square:before {
  content: "\f199";
}

.fa-wordpress:before {
  content: "\f19a";
}

.fa-openid:before {
  content: "\f19b";
}

.fa-institution:before, .fa-bank:before, .fa-university:before {
  content: "\f19c";
}

.fa-mortar-board:before, .fa-graduation-cap:before {
  content: "\f19d";
}

.fa-yahoo:before {
  content: "\f19e";
}

.fa-google:before {
  content: "\f1a0";
}

.fa-reddit:before {
  content: "\f1a1";
}

.fa-reddit-square:before {
  content: "\f1a2";
}

.fa-stumbleupon-circle:before {
  content: "\f1a3";
}

.fa-stumbleupon:before {
  content: "\f1a4";
}

.fa-delicious:before {
  content: "\f1a5";
}

.fa-digg:before {
  content: "\f1a6";
}

.fa-pied-piper-pp:before {
  content: "\f1a7";
}

.fa-pied-piper-alt:before {
  content: "\f1a8";
}

.fa-drupal:before {
  content: "\f1a9";
}

.fa-joomla:before {
  content: "\f1aa";
}

.fa-language:before {
  content: "\f1ab";
}

.fa-fax:before {
  content: "\f1ac";
}

.fa-building:before {
  content: "\f1ad";
}

.fa-child:before {
  content: "\f1ae";
}

.fa-paw:before {
  content: "\f1b0";
}

.fa-spoon:before {
  content: "\f1b1";
}

.fa-cube:before {
  content: "\f1b2";
}

.fa-cubes:before {
  content: "\f1b3";
}

.fa-behance:before {
  content: "\f1b4";
}

.fa-behance-square:before {
  content: "\f1b5";
}

.fa-steam:before {
  content: "\f1b6";
}

.fa-steam-square:before {
  content: "\f1b7";
}

.fa-recycle:before {
  content: "\f1b8";
}

.fa-automobile:before, .fa-car:before {
  content: "\f1b9";
}

.fa-cab:before, .fa-taxi:before {
  content: "\f1ba";
}

.fa-tree:before {
  content: "\f1bb";
}

.fa-spotify:before {
  content: "\f1bc";
}

.fa-deviantart:before {
  content: "\f1bd";
}

.fa-soundcloud:before {
  content: "\f1be";
}

.fa-database:before {
  content: "\f1c0";
}

.fa-file-pdf-o:before {
  content: "\f1c1";
}

.fa-file-word-o:before {
  content: "\f1c2";
}

.fa-file-excel-o:before {
  content: "\f1c3";
}

.fa-file-powerpoint-o:before {
  content: "\f1c4";
}

.fa-file-photo-o:before, .fa-file-picture-o:before, .fa-file-image-o:before {
  content: "\f1c5";
}

.fa-file-zip-o:before, .fa-file-archive-o:before {
  content: "\f1c6";
}

.fa-file-sound-o:before, .fa-file-audio-o:before {
  content: "\f1c7";
}

.fa-file-movie-o:before, .fa-file-video-o:before {
  content: "\f1c8";
}

.fa-file-code-o:before {
  content: "\f1c9";
}

.fa-vine:before {
  content: "\f1ca";
}

.fa-codepen:before {
  content: "\f1cb";
}

.fa-jsfiddle:before {
  content: "\f1cc";
}

.fa-life-bouy:before, .fa-life-buoy:before, .fa-life-saver:before, .fa-support:before, .fa-life-ring:before {
  content: "\f1cd";
}

.fa-circle-o-notch:before {
  content: "\f1ce";
}

.fa-ra:before, .fa-resistance:before, .fa-rebel:before {
  content: "\f1d0";
}

.fa-ge:before, .fa-empire:before {
  content: "\f1d1";
}

.fa-git-square:before {
  content: "\f1d2";
}

.fa-git:before {
  content: "\f1d3";
}

.fa-y-combinator-square:before, .fa-yc-square:before, .fa-hacker-news:before {
  content: "\f1d4";
}

.fa-tencent-weibo:before {
  content: "\f1d5";
}

.fa-qq:before {
  content: "\f1d6";
}

.fa-wechat:before, .fa-weixin:before {
  content: "\f1d7";
}

.fa-send:before, .fa-paper-plane:before {
  content: "\f1d8";
}

.fa-send-o:before, .fa-paper-plane-o:before {
  content: "\f1d9";
}

.fa-history:before {
  content: "\f1da";
}

.fa-circle-thin:before {
  content: "\f1db";
}

.fa-header:before {
  content: "\f1dc";
}

.fa-paragraph:before {
  content: "\f1dd";
}

.fa-sliders:before {
  content: "\f1de";
}

.fa-share-alt:before {
  content: "\f1e0";
}

.fa-share-alt-square:before {
  content: "\f1e1";
}

.fa-bomb:before {
  content: "\f1e2";
}

.fa-soccer-ball-o:before, .fa-futbol-o:before {
  content: "\f1e3";
}

.fa-tty:before {
  content: "\f1e4";
}

.fa-binoculars:before {
  content: "\f1e5";
}

.fa-plug:before {
  content: "\f1e6";
}

.fa-slideshare:before {
  content: "\f1e7";
}

.fa-twitch:before {
  content: "\f1e8";
}

.fa-yelp:before {
  content: "\f1e9";
}

.fa-newspaper-o:before {
  content: "\f1ea";
}

.fa-wifi:before {
  content: "\f1eb";
}

.fa-calculator:before {
  content: "\f1ec";
}

.fa-paypal:before {
  content: "\f1ed";
}

.fa-google-wallet:before {
  content: "\f1ee";
}

.fa-cc-visa:before {
  content: "\f1f0";
}

.fa-cc-mastercard:before {
  content: "\f1f1";
}

.fa-cc-discover:before {
  content: "\f1f2";
}

.fa-cc-amex:before {
  content: "\f1f3";
}

.fa-cc-paypal:before {
  content: "\f1f4";
}

.fa-cc-stripe:before {
  content: "\f1f5";
}

.fa-bell-slash:before {
  content: "\f1f6";
}

.fa-bell-slash-o:before {
  content: "\f1f7";
}

.fa-trash:before {
  content: "\f1f8";
}

.fa-copyright:before {
  content: "\f1f9";
}

.fa-at:before {
  content: "\f1fa";
}

.fa-eyedropper:before {
  content: "\f1fb";
}

.fa-paint-brush:before {
  content: "\f1fc";
}

.fa-birthday-cake:before {
  content: "\f1fd";
}

.fa-area-chart:before {
  content: "\f1fe";
}

.fa-pie-chart:before {
  content: "\f200";
}

.fa-line-chart:before {
  content: "\f201";
}

.fa-lastfm:before {
  content: "\f202";
}

.fa-lastfm-square:before {
  content: "\f203";
}

.fa-toggle-off:before {
  content: "\f204";
}

.fa-toggle-on:before {
  content: "\f205";
}

.fa-bicycle:before {
  content: "\f206";
}

.fa-bus:before {
  content: "\f207";
}

.fa-ioxhost:before {
  content: "\f208";
}

.fa-angellist:before {
  content: "\f209";
}

.fa-cc:before {
  content: "\f20a";
}

.fa-shekel:before, .fa-sheqel:before, .fa-ils:before {
  content: "\f20b";
}

.fa-meanpath:before {
  content: "\f20c";
}

.fa-buysellads:before {
  content: "\f20d";
}

.fa-connectdevelop:before {
  content: "\f20e";
}

.fa-dashcube:before {
  content: "\f210";
}

.fa-forumbee:before {
  content: "\f211";
}

.fa-leanpub:before {
  content: "\f212";
}

.fa-sellsy:before {
  content: "\f213";
}

.fa-shirtsinbulk:before {
  content: "\f214";
}

.fa-simplybuilt:before {
  content: "\f215";
}

.fa-skyatlas:before {
  content: "\f216";
}

.fa-cart-plus:before {
  content: "\f217";
}

.fa-cart-arrow-down:before {
  content: "\f218";
}

.fa-diamond:before {
  content: "\f219";
}

.fa-ship:before {
  content: "\f21a";
}

.fa-user-secret:before {
  content: "\f21b";
}

.fa-motorcycle:before {
  content: "\f21c";
}

.fa-street-view:before {
  content: "\f21d";
}

.fa-heartbeat:before {
  content: "\f21e";
}

.fa-venus:before {
  content: "\f221";
}

.fa-mars:before {
  content: "\f222";
}

.fa-mercury:before {
  content: "\f223";
}

.fa-intersex:before, .fa-transgender:before {
  content: "\f224";
}

.fa-transgender-alt:before {
  content: "\f225";
}

.fa-venus-double:before {
  content: "\f226";
}

.fa-mars-double:before {
  content: "\f227";
}

.fa-venus-mars:before {
  content: "\f228";
}

.fa-mars-stroke:before {
  content: "\f229";
}

.fa-mars-stroke-v:before {
  content: "\f22a";
}

.fa-mars-stroke-h:before {
  content: "\f22b";
}

.fa-neuter:before {
  content: "\f22c";
}

.fa-genderless:before {
  content: "\f22d";
}

.fa-facebook-official:before {
  content: "\f230";
}

.fa-pinterest-p:before {
  content: "\f231";
}

.fa-whatsapp:before {
  content: "\f232";
}

.fa-server:before {
  content: "\f233";
}

.fa-user-plus:before {
  content: "\f234";
}

.fa-user-times:before {
  content: "\f235";
}

.fa-hotel:before, .fa-bed:before {
  content: "\f236";
}

.fa-viacoin:before {
  content: "\f237";
}

.fa-train:before {
  content: "\f238";
}

.fa-subway:before {
  content: "\f239";
}

.fa-medium:before {
  content: "\f23a";
}

.fa-yc:before, .fa-y-combinator:before {
  content: "\f23b";
}

.fa-optin-monster:before {
  content: "\f23c";
}

.fa-opencart:before {
  content: "\f23d";
}

.fa-expeditedssl:before {
  content: "\f23e";
}

.fa-battery-4:before, .fa-battery:before, .fa-battery-full:before {
  content: "\f240";
}

.fa-battery-3:before, .fa-battery-three-quarters:before {
  content: "\f241";
}

.fa-battery-2:before, .fa-battery-half:before {
  content: "\f242";
}

.fa-battery-1:before, .fa-battery-quarter:before {
  content: "\f243";
}

.fa-battery-0:before, .fa-battery-empty:before {
  content: "\f244";
}

.fa-mouse-pointer:before {
  content: "\f245";
}

.fa-i-cursor:before {
  content: "\f246";
}

.fa-object-group:before {
  content: "\f247";
}

.fa-object-ungroup:before {
  content: "\f248";
}

.fa-sticky-note:before {
  content: "\f249";
}

.fa-sticky-note-o:before {
  content: "\f24a";
}

.fa-cc-jcb:before {
  content: "\f24b";
}

.fa-cc-diners-club:before {
  content: "\f24c";
}

.fa-clone:before {
  content: "\f24d";
}

.fa-balance-scale:before {
  content: "\f24e";
}

.fa-hourglass-o:before {
  content: "\f250";
}

.fa-hourglass-1:before, .fa-hourglass-start:before {
  content: "\f251";
}

.fa-hourglass-2:before, .fa-hourglass-half:before {
  content: "\f252";
}

.fa-hourglass-3:before, .fa-hourglass-end:before {
  content: "\f253";
}

.fa-hourglass:before {
  content: "\f254";
}

.fa-hand-grab-o:before, .fa-hand-rock-o:before {
  content: "\f255";
}

.fa-hand-stop-o:before, .fa-hand-paper-o:before {
  content: "\f256";
}

.fa-hand-scissors-o:before {
  content: "\f257";
}

.fa-hand-lizard-o:before {
  content: "\f258";
}

.fa-hand-spock-o:before {
  content: "\f259";
}

.fa-hand-pointer-o:before {
  content: "\f25a";
}

.fa-hand-peace-o:before {
  content: "\f25b";
}

.fa-trademark:before {
  content: "\f25c";
}

.fa-registered:before {
  content: "\f25d";
}

.fa-creative-commons:before {
  content: "\f25e";
}

.fa-gg:before {
  content: "\f260";
}

.fa-gg-circle:before {
  content: "\f261";
}

.fa-tripadvisor:before {
  content: "\f262";
}

.fa-odnoklassniki:before {
  content: "\f263";
}

.fa-odnoklassniki-square:before {
  content: "\f264";
}

.fa-get-pocket:before {
  content: "\f265";
}

.fa-wikipedia-w:before {
  content: "\f266";
}

.fa-safari:before {
  content: "\f267";
}

.fa-chrome:before {
  content: "\f268";
}

.fa-firefox:before {
  content: "\f269";
}

.fa-opera:before {
  content: "\f26a";
}

.fa-internet-explorer:before {
  content: "\f26b";
}

.fa-tv:before, .fa-television:before {
  content: "\f26c";
}

.fa-contao:before {
  content: "\f26d";
}

.fa-500px:before {
  content: "\f26e";
}

.fa-amazon:before {
  content: "\f270";
}

.fa-calendar-plus-o:before {
  content: "\f271";
}

.fa-calendar-minus-o:before {
  content: "\f272";
}

.fa-calendar-times-o:before {
  content: "\f273";
}

.fa-calendar-check-o:before {
  content: "\f274";
}

.fa-industry:before {
  content: "\f275";
}

.fa-map-pin:before {
  content: "\f276";
}

.fa-map-signs:before {
  content: "\f277";
}

.fa-map-o:before {
  content: "\f278";
}

.fa-map:before {
  content: "\f279";
}

.fa-commenting:before {
  content: "\f27a";
}

.fa-commenting-o:before {
  content: "\f27b";
}

.fa-houzz:before {
  content: "\f27c";
}

.fa-vimeo:before {
  content: "\f27d";
}

.fa-black-tie:before {
  content: "\f27e";
}

.fa-fonticons:before {
  content: "\f280";
}

.fa-reddit-alien:before {
  content: "\f281";
}

.fa-edge:before {
  content: "\f282";
}

.fa-credit-card-alt:before {
  content: "\f283";
}

.fa-codiepie:before {
  content: "\f284";
}

.fa-modx:before {
  content: "\f285";
}

.fa-fort-awesome:before {
  content: "\f286";
}

.fa-usb:before {
  content: "\f287";
}

.fa-product-hunt:before {
  content: "\f288";
}

.fa-mixcloud:before {
  content: "\f289";
}

.fa-scribd:before {
  content: "\f28a";
}

.fa-pause-circle:before {
  content: "\f28b";
}

.fa-pause-circle-o:before {
  content: "\f28c";
}

.fa-stop-circle:before {
  content: "\f28d";
}

.fa-stop-circle-o:before {
  content: "\f28e";
}

.fa-shopping-bag:before {
  content: "\f290";
}

.fa-shopping-basket:before {
  content: "\f291";
}

.fa-hashtag:before {
  content: "\f292";
}

.fa-bluetooth:before {
  content: "\f293";
}

.fa-bluetooth-b:before {
  content: "\f294";
}

.fa-percent:before {
  content: "\f295";
}

.fa-gitlab:before {
  content: "\f296";
}

.fa-wpbeginner:before {
  content: "\f297";
}

.fa-wpforms:before {
  content: "\f298";
}

.fa-envira:before {
  content: "\f299";
}

.fa-universal-access:before {
  content: "\f29a";
}

.fa-wheelchair-alt:before {
  content: "\f29b";
}

.fa-question-circle-o:before {
  content: "\f29c";
}

.fa-blind:before {
  content: "\f29d";
}

.fa-audio-description:before {
  content: "\f29e";
}

.fa-volume-control-phone:before {
  content: "\f2a0";
}

.fa-braille:before {
  content: "\f2a1";
}

.fa-assistive-listening-systems:before {
  content: "\f2a2";
}

.fa-asl-interpreting:before, .fa-american-sign-language-interpreting:before {
  content: "\f2a3";
}

.fa-deafness:before, .fa-hard-of-hearing:before, .fa-deaf:before {
  content: "\f2a4";
}

.fa-glide:before {
  content: "\f2a5";
}

.fa-glide-g:before {
  content: "\f2a6";
}

.fa-signing:before, .fa-sign-language:before {
  content: "\f2a7";
}

.fa-low-vision:before {
  content: "\f2a8";
}

.fa-viadeo:before {
  content: "\f2a9";
}

.fa-viadeo-square:before {
  content: "\f2aa";
}

.fa-snapchat:before {
  content: "\f2ab";
}

.fa-snapchat-ghost:before {
  content: "\f2ac";
}

.fa-snapchat-square:before {
  content: "\f2ad";
}

.fa-pied-piper:before {
  content: "\f2ae";
}

.fa-first-order:before {
  content: "\f2b0";
}

.fa-yoast:before {
  content: "\f2b1";
}

.fa-themeisle:before {
  content: "\f2b2";
}

.fa-google-plus-circle:before, .fa-google-plus-official:before {
  content: "\f2b3";
}

.fa-fa:before, .fa-font-awesome:before {
  content: "\f2b4";
}

.fa-handshake-o:before {
  content: "\f2b5";
}

.fa-envelope-open:before {
  content: "\f2b6";
}

.fa-envelope-open-o:before {
  content: "\f2b7";
}

.fa-linode:before {
  content: "\f2b8";
}

.fa-address-book:before {
  content: "\f2b9";
}

.fa-address-book-o:before {
  content: "\f2ba";
}

.fa-vcard:before, .fa-address-card:before {
  content: "\f2bb";
}

.fa-vcard-o:before, .fa-address-card-o:before {
  content: "\f2bc";
}

.fa-user-circle:before {
  content: "\f2bd";
}

.fa-user-circle-o:before {
  content: "\f2be";
}

.fa-user-o:before {
  content: "\f2c0";
}

.fa-id-badge:before {
  content: "\f2c1";
}

.fa-drivers-license:before, .fa-id-card:before {
  content: "\f2c2";
}

.fa-drivers-license-o:before, .fa-id-card-o:before {
  content: "\f2c3";
}

.fa-quora:before {
  content: "\f2c4";
}

.fa-free-code-camp:before {
  content: "\f2c5";
}

.fa-telegram:before {
  content: "\f2c6";
}

.fa-thermometer-4:before, .fa-thermometer:before, .fa-thermometer-full:before {
  content: "\f2c7";
}

.fa-thermometer-3:before, .fa-thermometer-three-quarters:before {
  content: "\f2c8";
}

.fa-thermometer-2:before, .fa-thermometer-half:before {
  content: "\f2c9";
}

.fa-thermometer-1:before, .fa-thermometer-quarter:before {
  content: "\f2ca";
}

.fa-thermometer-0:before, .fa-thermometer-empty:before {
  content: "\f2cb";
}

.fa-shower:before {
  content: "\f2cc";
}

.fa-bathtub:before, .fa-s15:before, .fa-bath:before {
  content: "\f2cd";
}

.fa-podcast:before {
  content: "\f2ce";
}

.fa-window-maximize:before {
  content: "\f2d0";
}

.fa-window-minimize:before {
  content: "\f2d1";
}

.fa-window-restore:before {
  content: "\f2d2";
}

.fa-times-rectangle:before, .fa-window-close:before {
  content: "\f2d3";
}

.fa-times-rectangle-o:before, .fa-window-close-o:before {
  content: "\f2d4";
}

.fa-bandcamp:before {
  content: "\f2d5";
}

.fa-grav:before {
  content: "\f2d6";
}

.fa-etsy:before {
  content: "\f2d7";
}

.fa-imdb:before {
  content: "\f2d8";
}

.fa-ravelry:before {
  content: "\f2d9";
}

.fa-eercast:before {
  content: "\f2da";
}

.fa-microchip:before {
  content: "\f2db";
}

.fa-snowflake-o:before {
  content: "\f2dc";
}

.fa-superpowers:before {
  content: "\f2dd";
}

.fa-wpexplorer:before {
  content: "\f2de";
}

.fa-meetup:before {
  content: "\f2e0";
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

/*
 *  TieFontIcon---------------------------------------------------------------
*/
@font-face {
  font-family: 'tiefonticon';
  src: url("../fonts/tiefonticon/tiefonticon.eot");
  src: url("../fonts/tiefonticon/tiefonticon.eot?#iefix") format("embedded-opentype"), url("../fonts/tiefonticon/tiefonticon.ttf") format("truetype"), url("../fonts/tiefonticon/tiefonticon.woff") format("woff"), url("../fonts/tiefonticon/tiefonticon.svg?#tiefonticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="tie-icon-"], [class*=" tie-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tiefonticon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tie-icon-basecloud:before {
  content: "\f105";
}

.tie-icon-cloud-2:before {
  content: "\e904";
}

.tie-icon-cloud-solid:before {
  content: "\e905";
}

.tie-icon-wind:before {
  content: "\e902";
}

.tie-icon-thermometer-half:before {
  content: "\e901";
}

.tie-icon-check:before {
  content: "\e116";
}

.tie-icon-cross:before {
  content: "\e117";
}

.tie-icon-dots-three-horizontal:before {
  content: "\e903";
}

.tie-icon-fire:before {
  content: "\e900";
}

.tie-icon-map:before {
  content: "\e6ab";
}

.tie-icon-goto:before {
  content: "\e64a";
}

.tie-icon-star:before {
  content: "\e66b";
}

.tie-icon-plaine:before {
  content: "\e671";
}

.tie-icon-house:before {
  content: "\e67d";
}

.tie-icon-users:before {
  content: "\e69b";
}

.tie-icon-user:before {
  content: "\e69c";
}

.tie-icon-typing:before {
  content: "\e69e";
}

.tie-icon-settings:before {
  content: "\e6a3";
}

.tie-icon-ringer:before {
  content: "\e6a7";
}

.tie-icon-messageright:before {
  content: "\e6b3";
}

.tie-icon-list:before {
  content: "\e6b8";
}

.tie-icon-inbox:before {
  content: "\e6bb";
}

.tie-icon-edit:before {
  content: "\e6bd";
}

.tie-icon-raindrop:before {
  content: "\f078";
}

.tie-icon-text:before {
  content: "\e685";
}

.tie-icon-audio:before {
  content: "\e6a2";
}

.tie-icon-picture:before {
  content: "\e6ac";
}

.tie-icon-video:before {
  content: "\e6b6";
}

.tie-icon-windysnow:before {
  content: "\f103";
}

.tie-icon-mist:before {
  content: "\f108";
}

.tie-icon-moon:before {
  content: "\f10d";
}

.tie-icon-sun:before {
  content: "\f113";
}

.tie-icon-thunder:before {
  content: "\f114";
}

/*
== malihu jquery custom scrollbar plugin ==
Plugin URI: http://manos.malihu.gr/jquery-custom-content-scroller
*/
/*
------------------------------------------------------------------------------------------------------------------------
1. BASIC STYLE
------------------------------------------------------------------------------------------------------------------------
*/
.mCustomScrollbar {
  -ms-touch-action: pinch-zoom;
  touch-action: pinch-zoom;
  /* direct pointer events to js */
}

.mCustomScrollbar.mCS_no_scrollbar,
.mCustomScrollbar.mCS_touch_action {
  -ms-touch-action: auto;
  touch-action: auto;
}

.mCustomScrollBox {
  /* contains plugin's markup */
  position: relative;
  overflow: hidden;
  height: 100%;
  max-width: 100%;
  outline: none;
  direction: ltr;
}

.mCSB_container {
  /* contains the original content */
  overflow: hidden;
  width: auto;
  height: auto;
}

/*
------------------------------------------------------------------------------------------------------------------------
2. VERTICAL SCROLLBAR
y-axis
------------------------------------------------------------------------------------------------------------------------
*/
/* RTL direction/left-side scrollbar */
.mCSB_scrollTools {
  position: absolute;
  width: 16px;
  height: auto;
  right: auto;
  top: 0;
  left: 0;
  bottom: 0;
}

.mCSB_outside + .mCSB_scrollTools {
  left: -26px;
}

/* scrollbar position: outside */
.mCS-dir-rtl > .mCSB_inside > .mCSB_scrollTools,
.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools {
  left: auto;
  right: 0;
}

.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools {
  right: -26px;
}

/* RTL direction/left-side scrollbar (scrollbar position: outside) */
.mCSB_scrollTools .mCSB_draggerContainer {
  /* contains the draggable element and dragger rail markup */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto;
}

.mCSB_scrollTools a + .mCSB_draggerContainer {
  margin: 20px 0;
}

.mCSB_scrollTools .mCSB_draggerRail {
  width: 2px;
  height: 100%;
  margin: 0 auto;
}

.mCSB_scrollTools .mCSB_dragger {
  /* the draggable element */
  cursor: pointer;
  width: 100%;
  height: 30px;
  /* minimum dragger height */
  z-index: 1;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  /* the dragger element */
  position: relative;
  width: 4px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar,
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar {
  width: 12px;
}

.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail,
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {
  width: 8px;
}

.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown {
  display: block;
  position: absolute;
  height: 20px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer;
}

.mCSB_scrollTools .mCSB_buttonDown {
  bottom: 0;
}

/*
------------------------------------------------------------------------------------------------------------------------
3. HORIZONTAL SCROLLBAR
x-axis
------------------------------------------------------------------------------------------------------------------------
*/
.mCSB_horizontal.mCSB_inside > .mCSB_container {
  margin-right: 0;
  margin-bottom: 30px;
}

.mCSB_horizontal.mCSB_outside > .mCSB_container {
  min-height: 100%;
}

.mCSB_horizontal > .mCSB_container.mCS_no_scrollbar_x.mCS_x_hidden {
  margin-bottom: 0;
}

/* non-visible scrollbar */
.mCSB_scrollTools.mCSB_scrollTools_horizontal {
  width: auto;
  height: 16px;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
}

.mCustomScrollBox + .mCSB_scrollTools.mCSB_scrollTools_horizontal,
.mCustomScrollBox + .mCSB_scrollTools + .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  bottom: -26px;
}

/* scrollbar position: outside */
.mCSB_scrollTools.mCSB_scrollTools_horizontal a + .mCSB_draggerContainer {
  margin: 0 20px;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
  width: 100%;
  height: 2px;
  margin: 7px 0;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger {
  width: 30px;
  /* minimum dragger width */
  height: 100%;
  left: 0;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  width: 100%;
  height: 4px;
  margin: 6px auto;
}

.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar,
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar {
  height: 12px;
  /* auto-expanded scrollbar */
  margin: 2px auto;
}

.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail,
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {
  height: 8px;
  /* auto-expanded scrollbar */
  margin: 4px 0;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft,
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight {
  display: block;
  position: absolute;
  width: 20px;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft {
  left: 0;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight {
  right: 0;
}

/*
------------------------------------------------------------------------------------------------------------------------
4. VERTICAL AND HORIZONTAL SCROLLBARS
yx-axis
------------------------------------------------------------------------------------------------------------------------
*/
.mCSB_container_wrapper {
  position: absolute;
  height: auto;
  width: auto;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-right: 30px;
  margin-bottom: 30px;
}

.mCSB_container_wrapper > .mCSB_container {
  padding-right: 30px;
  padding-bottom: 30px;
  box-sizing: border-box;
}

.mCSB_vertical_horizontal > .mCSB_scrollTools.mCSB_scrollTools_vertical {
  bottom: 20px;
}

.mCSB_vertical_horizontal > .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  right: 20px;
}

/* non-visible horizontal scrollbar */
.mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden + .mCSB_scrollTools.mCSB_scrollTools_vertical {
  bottom: 0;
}

/* non-visible vertical scrollbar/RTL direction/left-side scrollbar */
.mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden + .mCSB_scrollTools ~ .mCSB_scrollTools.mCSB_scrollTools_horizontal,
.mCS-dir-rtl > .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  right: 0;
}

/* RTL direction/left-side scrollbar */
.mCS-dir-rtl > .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  left: 20px;
}

/* non-visible scrollbar/RTL direction/left-side scrollbar */
.mCS-dir-rtl > .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden + .mCSB_scrollTools ~ .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  left: 0;
}

.mCS-dir-rtl > .mCSB_inside > .mCSB_container_wrapper {
  /* RTL direction/left-side scrollbar */
  margin-right: 0;
  margin-left: 30px;
}

.mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden > .mCSB_container {
  padding-right: 0;
}

.mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden > .mCSB_container {
  padding-bottom: 0;
}

.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden {
  margin-right: 0;
  /* non-visible scrollbar */
  margin-left: 0;
}

/* non-visible horizontal scrollbar */
.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden {
  margin-bottom: 0;
}

/*
------------------------------------------------------------------------------------------------------------------------
5. TRANSITIONS
------------------------------------------------------------------------------------------------------------------------
*/
.mCSB_scrollTools,
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight {
  -webkit-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
  transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
}

.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar,
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail,
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar,
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail {
  -webkit-transition: width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out;
  -moz-transition: width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out;
  -o-transition: width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out;
  transition: width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out;
}

/*
----------------------------------------
6.1 THEMES
----------------------------------------
*/
/* default theme ("light") */
.mCSB_scrollTools {
  opacity: 0.75;
  filter: "alpha(opacity=75)";
  -ms-filter: "alpha(opacity=75)";
}

.mCS-autoHide > .mCustomScrollBox > .mCSB_scrollTools,
.mCS-autoHide > .mCustomScrollBox ~ .mCSB_scrollTools {
  opacity: 0;
  filter: "alpha(opacity=0)";
  -ms-filter: "alpha(opacity=0)";
}

.mCustomScrollbar > .mCustomScrollBox > .mCSB_scrollTools.mCSB_scrollTools_onDrag,
.mCustomScrollbar > .mCustomScrollBox ~ .mCSB_scrollTools.mCSB_scrollTools_onDrag,
.mCustomScrollBox:hover > .mCSB_scrollTools,
.mCustomScrollBox:hover ~ .mCSB_scrollTools,
.mCS-autoHide:hover > .mCustomScrollBox > .mCSB_scrollTools,
.mCS-autoHide:hover > .mCustomScrollBox ~ .mCSB_scrollTools {
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
}

.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #000;
  background: rgba(0, 0, 0, 0.3);
  filter: "alpha(opacity=40)";
  -ms-filter: "alpha(opacity=40)";
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #fff;
  background: rgba(0, 0, 0, 0.3);
  filter: "alpha(opacity=75)";
  -ms-filter: "alpha(opacity=75)";
}

.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #fff;
  background: rgba(0, 0, 0, 0.4);
  filter: "alpha(opacity=85)";
  -ms-filter: "alpha(opacity=85)";
}

.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: #fff;
  background: rgba(0, 0, 0, 0.5);
  filter: "alpha(opacity=90)";
  -ms-filter: "alpha(opacity=90)";
}

/*scroll bar in dark skin*/
.dark-skin .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: rgba(255, 255, 255, 0.35);
}

.dark-skin .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background: rgba(255, 255, 255, 0.45);
}

.dark-skin .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.dark-skin .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background: rgba(255, 255, 255, 0.55);
}

/* ---------------------------------------- */
/**
* IE Style ===================================================================================================
*/
.mag-box-filter-links {
  max-width: 400px;
}

@media (max-width: 768px) {
  .mag-box-filter-links {
    max-width: 250px;
  }
}

.half-box .mag-box-filter-links {
  max-width: 100px;
}

@media (max-width: 480px) {
  .mag-box-filter-links {
    max-width: 100px;
  }
}

.thumb-overlay:after,
.post-thumb-img:after,
.miscellaneous-box .posts-items li:first-child .post-thumb:after,
.scroll-2-box .post-thumb:after,
.big-thumb-left-box .posts-items li:first-child .post-thumb:after {
  background: transparent;
  background: rgba(35, 38, 42, 0.2);
  background-image: linear-gradient(to bottom, transparent, #131517);
  height: 100%;
}

.post-rating,
.post-large-rate,
.post-small-rate {
  word-wrap: normal;
}

textarea,
input,
select {
  line-height: normal !important;
}

.pages-nav .next-prev .first-last-pages,
.pages-nav .pages-numbers .first-last-pages {
  min-width: 100px;
}
