/* Reviews Styles */
#review-box {
  margin-top: 30px;
}

.review-top {
  float: left;
  width: 55%;
  margin: 30px 20px 30px 0;
}

@media (max-width: 767px) {
  .review-top#review-box {
    margin-top: 15px;
  }
}

#story-highlights + .review_wrap #review-box {
  width: 48%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
}

@media (min-width: 1045px) {
  .full-width #story-highlights + .review_wrap #review-box {
    width: calc(96% - 450px);
  }
}

.widget .review_wrap {
  margin: 0;
}

.review_wrap h1,
.review_wrap h2,
.review_wrap h3,
.review_wrap h4,
.review_wrap h5,
.review_wrap h6,
.review_wrap p,
.review_wrap strong {
  margin: 0;
}

.review_wrap br {
  display: none;
}

.review_wrap h2.review-box-header {
  margin-bottom: 20px;
}

.review_wrap h2.review-box-header:after {
  width: 70px;
}

.review-item,
.review-summary,
.user-rate-wrap {
  opacity: 1;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 2px;
  margin-bottom: 10px;
  overflow: hidden;
  line-height: 20px;
  padding: 15px;
  transition: 0.2s;
}

.review-item h5,
.review-summary h5,
.user-rate-wrap h5 {
  position: relative;
  z-index: 2;
  float: left;
}

.review-stars .stars-large,
.review-stars .hearts-large,
.review-stars .thumbs-large {
  float: right;
}

.review-percentage .review-item {
  padding: 10px 15px;
}

.review-percentage .review-item h5 {
  float: none;
  margin-bottom: 5px;
}

.review-percentage .review-item span {
  position: relative;
  display: block;
}

.review-percentage .review-item span span {
  background-color: #0088ff;
  display: block;
  height: 7px;
  width: 0;
  transition: width 1.5s;
  position: relative;
  z-index: 2;
}

.review-percentage .review-item span:after {
  content: "";
  width: 100%;
  background: rgba(0, 0, 0, 0.08);
  height: 7px;
  position: absolute;
  z-index: 1;
  bottom: 0;
}

.post-large-rate {
  display: inline-block;
}

.post-large-rate span {
  display: block;
  float: left;
}

.post-large-rate,
.post-small-rate {
  float: right;
  position: relative;
  font-size: 14px;
  transition: none;
  letter-spacing: 4px;
  text-align: center;
  text-indent: 2px;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}

.post-large-rate:after,
.post-small-rate:after {
  color: rgba(154, 154, 154, 0.65);
  content: "\f006" "\f006" "\f006" "\f006" "\f006";
  font-family: "FontAwesome";
  display: block;
}

.post-large-rate span,
.post-small-rate span {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  color: #ffc107;
  display: block;
  transition: none;
  text-align: left;
  word-wrap: normal;
}

.post-large-rate span:after,
.post-small-rate span:after {
  content: "\f005" "\f005" "\f005" "\f005" "\f005";
  font-family: "FontAwesome";
  display: block;
}

.hearts-large,
.hearts-small {
  margin-right: 0;
  font-size: 14px;
}

.hearts-large:after,
.hearts-small:after {
  content: "\f08a" "\f08a" "\f08a" "\f08a" "\f08a";
}

.hearts-large span,
.hearts-small span {
  color: #ff0043;
}

.hearts-large span:after,
.hearts-small span:after {
  content: "\f004" "\f004" "\f004" "\f004" "\f004";
}

.thumbs-large,
.thumbs-small {
  font-size: 14px;
}

.thumbs-large:after,
.thumbs-small:after {
  content: "\f164" "\f164" "\f164" "\f164" "\f164";
}

.thumbs-large span,
.thumbs-small span {
  color: #ffb245;
}

.thumbs-large span:after,
.thumbs-small span:after {
  content: "\f164" "\f164" "\f164" "\f164" "\f164";
}

.post-small-rate {
  font-size: 12px;
}

.post-small-rate span {
  display: block;
  float: left;
}

.post-single-rate {
  float: left;
  margin-right: 5px;
}

.rtl .post-single-rate {
  margin-right: 0;
  margin-left: 5px;
}

.review-summary {
  padding: 0;
  position: relative;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.review-short-summary {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.review-short-summary a {
  color: #cccccc;
}

.review-final-score {
  float: right;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  text-align: center;
  padding: 25px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-width: 0 0 0 1px;
}

.review-final-score .post-large-rate {
  float: none;
  margin: 0 auto;
  font-size: 18px;
}

.review-final-score h3 {
  font-size: 44px;
  line-height: 1;
  color: #0088ff;
  margin-bottom: 10px;
}

.review-final-score h3 span {
  font-size: 17px;
  font-weight: normal;
}

.review-final-score h4 {
  font-size: 16px;
  margin-top: 10px;
}

.rtl .review-final-score {
  float: left;
}

.user-rate-wrap .user-rating-text {
  float: left;
  line-height: 18px;
}

.user-rate-wrap .user-rate {
  float: right;
  padding: 0;
  position: relative;
}

.user-rate-wrap .user-rate:not(.rated-done) {
  cursor: pointer;
}

.user-rate-wrap .user-rate span {
  margin: 0;
}

.user-rate-wrap .user-rate .spinner-circle {
  top: -13px;
  left: -13px;
  height: 26px;
  width: 26px;
  clip: rect(0, 26px, 26px, 13px);
}

.user-rate-wrap .user-rate .spinner-circle:after {
  left: 0;
  top: 0;
  height: 26px;
  width: 26px;
  clip: rect(0, 26px, 26px, 13px);
}

.user-rate-wrap .user-rate .spinner {
  width: 2.5em;
}

.user-rate-wrap .user-rate .spinner > div {
  width: 0.4em;
  height: 0.4em;
}

.taq-load {
  position: relative;
  width: 98px;
  height: 20px;
  display: block;
}

/* Review Widgets*/
.widget .review_wrap .review-box-header {
  font-size: 13px;
}

.widget .user-rate-wrap {
  margin-bottom: 0;
}

.reviews-posts {
  list-style: none;
}

.reviews-posts li {
  overflow: hidden;
}

.reviews-posts .review-thumbnail {
  float: left;
  margin-right: 15px;
  transition: opacity 0.3s;
}

.reviews-posts .review-thumbnail:hover {
  opacity: 0.8;
}

.reviews-posts h3 {
  margin-bottom: 5px;
  font-size: 14px;
}

.review-bottom {
  clear: both;
}

.taq-clear {
  clear: both;
}

/* Dark Skin*/
.dark-skin .review-item,
.dark-skin .review-summary,
.dark-skin .user-rate-wrap,
.dark-skin .review-final-score {
  border-color: rgba(255, 255, 255, 0.1);
}

/* RTL */
.rtl h2.review-box-header:after {
  right: 0;
  left: auto;
}

.rtl .review-top {
  float: right;
  margin-right: 0;
  margin-left: 20px;
}

.rtl #review-box .post-large-rate,
.rtl #review-box .post-small-rate,
.rtl #review-box .user-rate {
  float: left;
}

.rtl #review-box.review-stars .review-item h5,
.rtl #review-box .user-rate-wrap .user-rating-text {
  float: right;
}

.rtl #review-box .review-final-score {
  border-width: 0 1px 0 0;
}

.rtl #review-box .post-single-rate {
  float: right;
  margin-right: 0;
}

.rtl .post-large-rate,
.rtl .post-small-rate {
  text-indent: 0;
}

.rtl .post-large-rate span,
.rtl .post-small-rate span {
  text-align: right;
}

.rtl .post-small-rate {
  float: right;
}

.rtl .post-small-rate.hearts-small span {
  right: 1px;
}

.rtl ul.reviews-posts .review-thumbnail {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}

@media (max-width: 767px) {
  #review-box.review-top,
  .rtl #review-box.review-top,
  #story-highlights + .review_wrap #review-box {
    float: none;
    width: auto;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 479px) {
  .review-summary,
  .review-short-summary,
  .review-final-score,
  .user-rating-text {
    display: block;
    width: 100%;
    float: none;
    text-align: center;
  }
  #review-box .review-final-score,
  .rtl #review-box .review-final-score {
    border-width: 0 0 1px;
  }
  .user-rate-wrap .user-rate {
    margin-top: 10px;
    float: left;
    position: relative;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .rtl #review-box .review-final-score .post-large-rate,
  .rtl #review-box .review-final-score .post-small-rate {
    float: none;
  }
}

@media (min-width: 992px) {
  .widget .review-summary,
  .widget .review-short-summary,
  .widget .review-final-score,
  .widget .user-rating-text {
    display: block;
    width: 100%;
    float: none;
    text-align: center;
  }
  .widget #review-box .review-final-score {
    border-width: 0 0 1px;
  }
  .widget .user-rate-wrap .user-rate {
    margin-top: 10px;
    float: left;
    position: relative;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .rtl .widget #review-box .review-final-score .post-large-rate,
  .rtl .widget #review-box .review-final-score .post-small-rate {
    float: none;
  }
}
